/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Homepage styles

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*  GENERAL RESETS NOT IN NORMALIZE.CSS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

html {
    box-sizing: border-box;
    color: inherit;
}

body,
 input,
 textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404D5B;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
}

*,
 *:before,
 *:after {
    box-sizing: inherit;
}

a:link,
 a:hover,
 a:active,
 a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding-left: 0;
}

.clear:before,
 .clear:after {
    display: table;
    content: ' ';
}

.clear:after {
    clear: both;
}


/*  ANCHOR HOVERS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

a {
    -webkit-transition: color .2s;
            transition: color .2s;
}

a:hover {
    color: #D04C3F;
}

.anchor-no-hover:hover {
    color: inherit;
}

.anchor-underline-offset {
    border-bottom: 1px solid white;
}


/*  LAYOUT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.section-wrap {
    padding: 0 20px;
}

.section-full-width {
    margin: 0 auto;
}

.section-constrained-width {
    max-width: 960px;
    margin: 0 auto;
}

.atlas-section {
    padding: 60px 0;
    border-top: 1px solid #DDDDDD;
}

/*  GENERAL TYPE
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.subhead {
    max-width: 400px;
    margin: 0 auto 10px;
}

.subhead-deck {
    max-width: 400px;
    margin: 0 auto 20px;
}

.atlas-btn-icon {
    margin-right: 2px;
}

.atlas-btn-icon-large {
    margin-right: 6px;
}

.offset-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.offset-text-shadow {
    text-shadow: rgba(0, 0, 0, .4);
}

.label {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
}

.atlas-btn {
    height: 36px;
}

/*  HEADER
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-header {
    position: relative;
    display: table;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
}

.subhead-wrap {
    max-width: 500px;
    margin: 0 auto 40px;
    text-align: center;
}


/*  LOGO (silly, looking forward to changing)
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-wordmark {
    display: block;
    float: left;
    margin-bottom: -10px;
    white-space: nowrap;
    text-decoration: none;
}

.site-logo-copy {
    font-family: 'PT Sans Narrow', sans-serif, 'Arial';
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    text-transform: uppercase;
}

.site-logo-firstline {
    font-size: 46.5px;
    display: block;
    margin-bottom: -7px;
    letter-spacing: 0;
}

.site-logo-secondline {
    font-size: 18px;
    margin-left: 1px;
    color: #A0A6A9;
}



/*  NAV
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-nav {
    display: none;
    width: 100%;
}

.site-nav-list {
    float: right;
    margin: 0;
    padding: 0;
}

.site-nav-item {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 10px;
    list-style-type: none;
    -webkit-transition: color .2s;
            transition: color .2s;
}

.site-nav-item:first-child {
    padding-left: 0;
}

.site-nav-item:last-child {
    padding-right: 0;
}

@media screen and (min-width: 48em) {
    .site-nav {
        display: table-cell;
    }
}


/*  SLIDEIN NAV
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/* These rules are necessary for slide-in to work */
html,
 body,
 .container,
 .home-body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.site-nav-slidein-item {
    -webkit-transition: color .2s;
            transition: color .2s;
}

.close-button:focus {
    outline: 0;
}

@media screen and (min-width: 48em) {
    .site-nav-slidein-button {
        display: none;
    }
}

.site-nav-slidein-wrap a {
    color: rgb(230, 230, 230);
}

.site-nav-slidein-wrap a:hover,
 .site-nav-slidein-wrap a:focus {
    color: #C94E50;
}

.home-body {
    overflow-y: scroll;
}

.content {
    position: relative;
    background: #B4BAD2;
}

.content::before {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    -webkit-transition: opacity .4s, -webkit-transform 0s .4s;
            transition: opacity .4s, transform 0s .4s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(100%,0,0);
            transform: translate3d(100%,0,0);
    opacity: 0;
    background: rgba(0,0,0,.3);
}

/* site-nav-slidein Button */
.site-nav-slidein-button {
    font-size: 1em;
    position: absolute;
    right: 0;
    bottom: 0;
    border: none;
}

.site-nav-slidein-button:focus {
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

/* Close Button */
.close-button {
    font-size: .75em;
    position: absolute;
    top: 2em;
    right: 2em;
    overflow: hidden;
    width: 1em;
    width: 30px;
    height: 1em;
    height: 30px;
    padding: 1em;
    -webkit-transition: color .2s;
            transition: color .2s;
    text-indent: 1em;
    color: transparent;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 50%;
    background: transparent;
}

.close-button::before,
 .close-button::after {
    position: absolute;
    top: 25%;
    left: 46%;
    width: 2px;
    height: 50%;
    content: '';
    -webkit-transition: background-color .2s;
            transition: background-color .2s;
    background: rgb(230, 230, 230);
}

.close-button:hover::before,
 .close-button:hover::after {
    background: #D04C3F;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* site-nav-slidein */
.site-nav-slidein-wrap {
    font-size: 1.15em;
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 100%;
    padding: 2.5em 1.5em 0;
    -webkit-transition: -webkit-transform .4s;
            transition: transform .4s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(-300px,0,0);
            transform: translate3d(-300px,0,0);
    background: #373A47;
}

.site-nav-slidein,
 .site-nav-slidein-list {
    height: 100%;
}

.site-nav-slidein-list {
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
}

.site-nav-slidein-list a {
    display: block;
    padding: .8em;
    -webkit-transform: translate3d(0,500px,0);
            transform: translate3d(0,500px,0);
}

.site-nav-slidein-list,
 .site-nav-slidein-list a {
    -webkit-transition: -webkit-transform 0s .4s;
            transition: transform 0s .4s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.site-nav-slidein-list a:nth-child(2) {
    -webkit-transform: translate3d(0,1000px,0);
            transform: translate3d(0,1000px,0);
}

.site-nav-slidein-list a:nth-child(3) {
    -webkit-transform: translate3d(0,1500px,0);
            transform: translate3d(0,1500px,0);
}

.site-nav-slidein-list a:nth-child(4) {
    -webkit-transform: translate3d(0,2000px,0);
            transform: translate3d(0,2000px,0);
}

.site-nav-slidein-list a:nth-child(5) {
    -webkit-transform: translate3d(0,2500px,0);
            transform: translate3d(0,2500px,0);
}

.site-nav-slidein-list a:nth-child(6) {
    -webkit-transform: translate3d(0,3000px,0);
            transform: translate3d(0,3000px,0);
}

.site-nav-slidein-list a span {
    margin-left: 10px;
}

.site-nav-slidein-list span,
 .site-nav-slidein-list i {
    -webkit-transition: color .2s;
            transition: color .2s;
}


/* Shown site-nav-slidein */
.show-site-nav-slidein .site-nav-slidein-wrap {
    -webkit-transition: -webkit-transform .8s;
            transition: transform .8s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

.show-site-nav-slidein .site-nav-slidein-list,
 .show-site-nav-slidein .site-nav-slidein-list a {
    -webkit-transition: -webkit-transform .8s;
            transition: transform .8s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

.show-site-nav-slidein .site-nav-slidein-list a {
    -webkit-transition-duration: .9s;
            transition-duration: .9s;
}

.show-site-nav-slidein .content::before {
    -webkit-transition: opacity .8s;
            transition: opacity .8s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
    opacity: 1;
}


/*  SEARCH
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.search-wrap {
    position: relative;
    width: 100%;
}

.atlas-search {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px;
}

/* To override pure.css specificity*/
.atlas-search.atlas-search[type=text] {
    border-radius: 0;
}

@media screen and (min-width: 480px) {
    .atlas-search {
        width: 80%;
    }
}

/* Triple classed to override pure.css specificity*/
.atlas-search-btn.atlas-search-btn.atlas-search-btn {
    width: 30%;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .atlas-search-btn.atlas-search-btn.atlas-search-btn {
        float: right;
        width: 18%;
    }
}

.subhead-search {
    margin-bottom: 15px;
}


/*  SEARCH (JQUERY UI AUTOCOMPLETE CLASSES)
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.ui-menu {
    padding: 0 10px;
    list-style: none;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    outline: 0;
    background: white;
}

.ui-menu-item {
    font-size: 12px;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #DDDDDD;
}

.ui-menu-item:last-of-type {
    border-bottom: none;
}

.ui-widget-content .ui-state-focus {
    color: #D04C3F;
    border: none;
    border-radius: 0;
    /*background: #DDDDDD;*/
}

.autocomplete-wrap {
    width: 80px;
}

.ui-helper-hidden-accessible {
    display: none;
}


/*  EXAMPLES
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.example-wrap {
    text-align: center;
    margin: 0 auto 40px;
}

@media screen and (min-width: 35.5em) {
    .example-wrap {
        margin: 0 auto;
    }
    .example-wrap:first-child {
        padding: 0 20px 0 0;
    }

    .example-wrap:nth-child(2) {
        padding: 0 10px;
    }

    .example-wrap:last-child {
        padding: 0 0 0 20px;
    }
}

.example-image {
    margin: 0 auto 20px;
}

.example-label {
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.example-caption {
    margin: 0;
    text-align: center;
}


/*  SELECT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.select-full {
    width: 100%;
}

.select-wrap {
    text-align: center;
}

.select-wrap:first-child {
    margin-bottom: 20px;
}

@media screen and (min-width: 35.5em) {
    .select-wrap:first-child {
        /*padding-right: 10px;*/
    }

    .select-wrap:last-child {
        /*padding-left: 10px;*/
    }
    .select-menu-wrap {
        width: 75%;
        margin: 0 auto;
    }
}


/*  VIDEO
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.hausman-video {
    margin: 0 auto;
}

@media screen and (min-width: 48em) {
    .video-section {
        position: relative;
    }

    .video-wrap {
        position: absolute;
        z-index: 1;
        top: 55%;
        right: 0;
        left: 0;
        max-width: 360px;
        padding: 0 20px;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        pointer-events: none;
        color: white;
    }

    .video-subhead {
        margin-bottom: 100px;
    }
}



/*  FOLLOW @ATLASFACTS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.follow-atlasfacts-btn {
    display: block;
    max-width: 250px;
    height: 36px;
    margin: 20px auto 0;
    padding: 1em;
}

.atlasfacts-icon {
    margin-right: 6px;
}


/*  MEGAFOOTER
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-megafooter {
    padding: 50px 0 0;
    background-color: rgb(230, 230, 230);
}

.atlas-megafooter {
    margin-bottom: 50px;
}

.megafooter-topper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDDDD;
}

.cid-logo {
    margin-bottom: 20px;
    padding: 0 10px 20px;
    border-bottom: 1px solid #DDDDDD;
}

.megafooter-social-wrap {
    margin: 0 auto 10px;
    text-align: center;
}


@media screen and (min-width: 35.5em) {
    .megafooter-social-wrap {
        position: absolute;
        right: 0;
        bottom: 10px;
        margin-bottom: 0;
    }
    .cid-logo {
        margin-bottom: 0;
        padding: 0 20px 0 0;
        border-bottom: none;
    }
}

.megafooter-btn {
    border: 2px solid #D8D8D8;
}

.megafooter-social-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 2px solid #D8D8D8;
    border-radius: 50%;
}

.megafooter-social-btn:nth-of-type(1) {
    right: 50px;
}

.megafooter-social-btn:nth-of-type(2) {
    right: 0;
}

.megafooter-content {
    position: relative;
}


/*  SITE NAV FULL
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-nav-full {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

.site-nav-full-toplevel {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.site-nav-full-toplevel > .site-nav-full-link {
    display: inline-block;
}

.site-nav-full-secondlevel {
    font-size: .65em;
    margin-bottom: 3px;
}

.site-nav-full-secondlevel:first-child {
    margin-top: 6px;
}

@media screen and (min-width: 35.5em) {
    .site-nav-full-list-toplevel {
        padding-right: 1em;
    }
    .site-nav-full-list-toplevel:first-child {
        padding-right: 1em;
    }
    .site-nav-full-list-toplevel:last-child {
        padding-left: 1em;
        border-left: 1px solid #DDDDDD;
    }
}

@media screen and (min-width: 48em) {
    .site-nav-full {
        border-bottom: 0;
        float: left;
        padding-bottom: 0;
    }
    .site-nav-full-list-toplevel {
        border-width: 0;
    }
    .site-nav-full-list-toplevel:first-child {
        padding-right: 1em;
    }
    .site-nav-full-list-toplevel:last-child {
        padding: 0 1em 0 1em;
        border-right: 1px solid #DDDDDD;
    }
}


/*  MEGAFOOTER SIGNUP
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/* Overspecifc to combat pure.css */
.listserv-input.listserv-input[type=email] {
    width: 100%;
    border-radius: 0;
    float: left;
}

.listserv-button {
    width: 30%;
}

@media screen and (min-width: 48em) {
    .megafooter-listserv {
        position: absolute;
        right: 0;
        text-align: left;
        padding-left: 1.5em;
    }
}

@media screen and (min-width: 480px) {
    .listserv-input.listserv-input[type=email] {
        width: 68%;
        border-radius: 0;
    }
    .listserv-button {
        float: right;
    }
}


/*  LICENSE
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.license-wrap {
    padding: 30px 20px;
    background-color: gray;
}

.license-copy {
    font-weight: 500;
    line-height: 140%;
    display: block;
    text-align: center;
    color: white;
}
