@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
*{
	font-family: "Lato", sans-serif;
	color: #444;
	-webkit-font-smoothing:antialiased;
}
	
/* Accent Color 

	.accent{
		color:#1abc9c;	
	}

*/

body{
	margin:0;
	background-color: #fafafa;
	height: 100%;
}
button.reg{
	cursor: pointer;
	background:transparent;
	padding: 5px;
	padding-right:10px; 
	padding-left:10px;
	border-radius: 5px;
	border: solid 3px #444;
	margin-bottom: 30px;
	font-size: 1.5em;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-o-transition:all 0.5s;
	-moz-transition:all 0.5s;			
}
button.reg:hover{
	background-color: #ddd;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;			
}
button h3{
	letter-spacing: .03em;
	margin:0;
	color:#444;
}
footer{
	background-color: #444; 
}
footer p{
	color:#999;
	width:700px;
	margin: 0 auto;
	line-height: 1.2em;
}
footer a{
	color:#999;
}
#wrapper{
	height: 100%;
}
.styledSelect select{
	border-radius: 0px;
	-webkit-appearance:none;
	padding-right: 40px;
	background:transparent;
	padding:5px;
	padding-right: 20px;
	border: solid 2px #444;
	font-size: 15px;
}
.main{
	padding-left:10px;
	padding-right: 10px;
	width: 1080px;
	margin: 0 auto;
}
.centered{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
.centered h1{
	font-size: 3em;
}
.centered h3{
	margin:0;
	font-weight: bold;
	font-size: 2.1em;
	line-height: 1.85em;
	text-rendering:optimizeLegibility;
}
button h3{
	color: #A41034;
}
#header{
	width: 100%;
	height: 84px;
}
.logo{
	letter-spacing: .27em;
	text-rendering:geometricPrecision;
	text-align: center;
	font-weight: 400;
}
.logo span{
	font-size: .5em;
	letter-spacing: .19em;
	font-weight: 300;
}
#header h1{
	float: left;
	display: inline;
}
.navList{
	margin-left: 0;
	margin-bottom: 0;
	vertical-align: baseline;
	display: inline;
	list-style: none;
	float: right;
	margin-top: 35px;
}
.navList li{
	margin-left: 1em;
	display: inline;
}
.navList li a{
	font-weight: bold;
	font-size: .9em;
	text-decoration: none;
	color: #444;
	font-weight: 400;
	text-rendering:optimizeLegibility;
	-webkit-transition: -webkit-transform 0.3s, color 0.2s;
	-moz-transition: -moz-transform 0.3s, color 0.2s;
	transition: transform 0.3s, color 0.2s;	
}
.navList li a:hover{
	-webkit-transition: -webkit-transform 0.3s, color 0.2s;
	-moz-transition: -moz-transform 0.3s, color 0.2s;
	transition: transform 0.3s, color 0.2s;
}
nav a:hover,
nav a:focus {
	outline: none;
}

/* Link hover effect*/

.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.cl-effect-1 a::before {
	margin-right: 7px;
	content: '|';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}
.cl-effect-1 a::after {
	margin-left: 7px;
	content: '|';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}
.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
#fixedBar{
	display: none;
	position: fixed;
	height: 40px;
	background-color: #fafafa;
	width: 100%;
	left:0px;
	top:0px;
	z-index: 100;
	-webkit-box-shadow: 0px 0px 5px 0px #444444;
	-moz-box-shadow: 0px 0px 5px 0px #444444;
	box-shadow: 0px 0px 5px 0px #444444;
}
#fixedBar .logo{
	font-size: 1em;
	color: #444;
	margin-bottom: 0px;
	margin-top: 8px;
	float: left;
	letter-spacing: .27em;
	text-rendering:geometricPrecision;
	text-align: center;
}
#fixedBar .navList{
	margin-top: 8px;
}
#fixedBar .navList li a{
	color:#444;
	font-weight: 400;
	text-rendering:optimizeLegibility;
	letter-spacing:.05em;
}
.fullWidth{
	width: 100%;
	min-height:400px;
}
.fullWidthPic{
	width: 100%;
	height: 410px;
	background-color: #444;
}
#search{
	text-align: center;
	height: 310px;
	width: 100%;
	padding-top: 40px;
}
#searchBox{
	width: 609px;
	height: 52px;
	margin: 0 auto;
	position: relative;
	top:150px;
}
#searchBox input{
	float: left;
	padding:0px 10px;
	border: solid 4px #444;
	border-right:none;
	width:526px;
	height: 52px;
	font-size: 20px;
	border-radius: 10px 0px 0px 10px;
	background-color: #fafafa;
	text-rendering:optimizeSpeed;
}
#searchButton{
	float:left;
	width:81px;
	height:50px;
	border: 1px solid #444;
	background-color: #444;
	text-align:  center;
	border-radius: 0px 10px 10px 0px;
	cursor: pointer;
}
#searchButton i {
	color:#fafafa;
	position: relative;
	top: 17px;
	cursor: pointer;
}
#searchButton:hover{
	background-color: #333;
	width:81px;
	height: 48px;
	padding-top: 2px;
}
#ecDesc{
	height: 310px;
}
#ecDesc a{
	position: relative;
	padding-bottom: 4px;
	top: 30px;
	text-decoration: none;
}
#ecDesc i{
	position: relative;
	display: block;
	top: 30px;	
}
#ecDesc a::before{
	content: "See what the Atlas can do";
}
#ecDesc a:hover::before{
	
}
.howTo{
	padding:50px 0px;	
	background-color: #444;
}
.howTo *{
	color: #fafafa;
	text-rendering:optimizeLegibility;
}
.howTo p{
	display: block;
}
.howTo h1{
	margin-bottom: 50px;
}
svg{
	float: right;
}
#treeMap{
	margin-top: 40px;
}
.staticSearch{
	float: left;
	padding:0px 10px;
	border: solid 2px #fafafa;
	height: 40px;
	min-width: 400px;
	font-size: 20px;
	border-radius: 10px 10px 10px 10px;
	background-color: #444444;
	text-rendering:optimizeSpeed;	
}
.staticSearch p{
	background-color: #444;
	display: inline;
	position: relative;
	top: 7px;
	color:#fafafa;
}
.staticSearch i{
	margin:8px auto;
	margin-right: 0px;
	margin-left: 18px;
	display: inline-block;
	float: right;
}
#ss3{
	width: 491px;
}
.svgHolder{
	width: 500px;
	height:0px;
	padding-bottom: 60%;
	float: right;
}
#cardContainer{
	padding-left: 0px;
	width: 100%;
	padding-bottom: 3%;
}
.card{
	display: inline-block;
	position: relative;
	height: 0px;
	width: 30%;
	padding-bottom: 50%;
	background-color: #444;
	overflow: hidden;
	margin-left: 4.6%;
}
.card img {
	height: 50%;
	width: auto;

}
.card span{
	position: absolute;
	top: 0px;
	height: 50%;
	width: 100%;
	background-color: rgba(53,53,53,0.6);
	color:#fafafa;	
}
.card h2, .card p{
	color:#fafafa;
	text-align: center;
}
.card h2{
	letter-spacing: .05em;
}
.card p{
	margin: 0% 5%;
	overflow: ellipsis;

}
.linkContainer{
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding-bottom:8%;
	text-align: center;
}
.card *{
	text-rendering:optimizeLegibility;
}
.card a{
	text-align: center;
	color: #fafafa;
	font-size: 1.3em;
	text-decoration:none;
}
.card:first-child{
	margin-left: 0%;
}
.secHead{
	margin-top: 60px;
	font-size: 28px;
}
#latestTweet{
	margin-top:-20px;
}
#tweetWrapper{
	padding-top: 90px; 
}
#tweetIcon{
	width: 45px;
	margin-left: 8%;
	margin-right: 10px;
	height: auto;
	display: inline-block;
}
#tweetHandle{
	color:#fafafa;
	font-size: 36px;
	vertical-align: top;
	font-weight: 300;
	text-decoration: none;
	display: inline-block;
}
#tweetOutter{
	width: 80%;
	margin-left: 10%;
}
#tweetInner{
	border-left:  solid #fafafa 4px;
	padding-left: 35px;
	font-size: 36px;
	line-height: 1.4em;
}
#tweetInner p{
	margin-top: 10px;
	margin-bottom: 10px;
	color:#fafafa;
}
#tweetBtns *{
	color: #fafafa;
	display: inline;
	margin-right: 5px;
	text-decoration: none;
	font-weight: 300;
}
#tweetBtns h6{
	margin-top: 0px;
	font-weight: 300;
	font-size: 20px;
	margin-right: 15px;
}
#tweetBtns a{
	font-size: 15px;
}
#treeMapDemo{
	float: right;
}
.iframe-wrapper{
	top:30px;
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 120px;
    height: 0;
    overflow: hidden;
}
.iframe-wrapper iframe{
	position: absolute;
	width: 100%;
	height: 100%;
    top:0;
    left: 0;
}
.row{
	width: 100%;
	margin-left: 340px;
	margin-top: 0;
	margin-bottom: 0;
	max-width: 1200px;
}
.hideDesk{
	display:none;
}
.hideMobile{
	display: block;
}
@media (max-width:1124px){
	.main{
		width: 920px;
	}
	.centered h3{
		font-size: 1.7em;
	}
	.card h2{
		font-size: 1.2em;
	}
	.card p{
		font-size: 0.8em;
	}
}
@media (max-width: 950px){
	.main{
		width: 768px;
	}
	.centered h3{
		font-size: 1.5em;
	}
	.card h2{
		font-size: 1em;
	}
	.card a{
		font-size: 1em;
	}
	.linkContainer{
		padding-bottom: 4%;
	}
	.card p{
		font-size: 0.8em;
	}
}
/* Fixes Page Width */

@media (max-width:790px){
	.fullWidthPic{
		width:790px;
	}
	#searchBox{
		margin: 0 90px;
	}
}

/* iPhone 5 */

@media only screen  and (-webkit-min-device-pixel-ratio: 2){
	#iframe-wrapper{
		display: none;
	}
	#wrapper{
		height: 1000px;
		webkit-overflow-scrolling:touch;
	}
	body{
		overflow: visible;
	}
	.centered h3{
		font-size: 3em;
		word-spacing: 0.03em;
	}
	#mobileButtons a{
		display: block;
	}
	#mobileButtons a button{
		width: 500px;
		font-size: 1em;
		padding: 10px 40px;
	}
	.hideDesk{
		display:block;
	}
	.hideMobile{
		display: none;
	}
	#menuButton{
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		position: relative;
		padding:10px 20px;
		display:block;
		border-width: 2px;
	}
	#mobileMenu{
		padding-top: 10px;
		position: relative;
		z-index: 100;
		display: none;	
		height:340px;	
	}
	#mobileList{
		padding:0px;
	}
	#mobileList li{
		background-color: #444;
		list-style: none;
		padding: 10px 20px;
	}
	#mobileList li a{
		text-decoration: none;
		width: 100%;
		font-size: 2em;
		color: #fff;
	}
	#mobileList li a:active{
		background-color: #444;
	}
}