/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Homepage styles

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*  GENERAL RESETS NOT IN NORMALIZE.CSS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

html {
    box-sizing: border-box;
    color: inherit;
}

*,
 *:before,
 *:after {
    box-sizing: inherit;
}

a:link,
 a:hover,
 a:active,
 a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding-left: 0;
}


/*  LAYOUT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.main-content-wrap {
    max-width: 960px;
    margin: 60px auto;
    padding: 0 30px;
}

.atlas-section {
    padding: 60px 0;
    border-top: 1px solid #DDDDDD;
}

/*  GENERAL TYPE
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.subhead {
    margin: 0 0 6px;
}

.subhead-deck {
    margin: 0;
}

/*  HEADER
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-header {
    display: table;
    margin-bottom: 20px;
}

.subhead-wrap {
    max-width: 400px;
    margin: 0 auto 20px;
    text-align: center;
}

/*  LOGO (silly, looking forward to changing)
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-wordmark {
    display: inline-block;
    float: left;
    margin-bottom: -10px;
    white-space: nowrap;
    text-decoration: none;
}

.site-logo-copy {
    font-family: 'PT Sans Narrow', sans-serif, 'Arial';
    font-weight: 500;
    line-height: 100%;
    margin: 0;
    text-transform: uppercase;
}

.site-logo-firstline {
    font-size: 46.5px;
    display: block;
    margin-bottom: -7px;
    letter-spacing: 0;
}

.site-logo-secondline {
    font-size: 18px;
    margin-left: 1px;
    color: #A0A6A9;
}



/*  NAV
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-nav {
    display: table-cell;
    width: 100%;
}

.site-nav-list {
    float: right;
    margin: 0;
    padding: 0;
}

.site-nav-item {
    display: inline;
    padding: 0 20px;
    list-style-type: none;
}

.site-nav-item:first-child {
    padding-left: 0;
}

.site-nav-item:last-child {
    padding-right: 0;
}


/*  EXAMPLES
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.example-wrap {
    padding: 0 20px;
}

.example-wrap:first-child {
    padding-left: 0;
}

.example-wrap:nth-child(2) {
    padding: 0 10px;
}

.example-wrap:last-child {
    padding-right: 0;
}

.example-caption {
    text-align: center;
}

/*  SEARCH
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.atlas-search {
    margin-bottom: 15px;
}

.subhead-search {
    margin-bottom: 15px;
}


/*  SELECT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.select-full {
    width: 100%;
}

.select-wrap:first-child {
    padding-right: 10px;
}

.select-wrap:last-child {
    padding-left: 10px;
}


/*  SELECT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.hausman-video {
    margin: 0 auto;
}


/*  VIDEO
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */



/*  FOLLOW @ATLASFACTS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.follow-atlasfacts-btn {
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

.atlasfacts-icon {
    margin-right: 6px;
}


/*  BOTTOM NAV
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.bottomnav-topper {
    margin-bottom: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #DDDDDD;
}

.social-wrap {
    display: inline-block;
    float: right;
}

.site-nav-full-list-toplevel:first-child {
    padding-right: 20px;
}

.site-nav-full-list-toplevel:last-child {
    padding-left: 20px;
}

.site-nav-full-toplevel {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.site-nav-full-secondlevel {
    font-size: .75em;
    margin-bottom: 3px;
}



/*  FOOTER
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-footer {
    padding: 20px;
}

.license-copy {
    display: block;
    text-align: center;
}
