/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Homepage styles

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*  GENERAL RESETS NOT IN NORMALIZE.CSS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

html {
    box-sizing: border-box;
    color: inherit;
}

body,
 input,
 textarea {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404D5B;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
}

*,
 *:before,
 *:after {
    box-sizing: inherit;
}

a:link,
 a:hover,
 a:active,
 a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding-left: 0;
}

.clear:before,
 .clear:after {
    display: table;
    content: ' ';
}

.clear:after {
    clear: both;
}


/*  ANCHOR HOVERS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

a {
    -webkit-transition: color .2s;
            transition: color .2s;
}

a:hover {
    color: #D04C3F;
}

.anchor-no-hover:hover {
    color: inherit;
}

.anchor-underline-offset {
    border-bottom: 1px solid white;
}


/*  LAYOUT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.container-main {
    margin-bottom: 60px;
}

.section-wrap {
    margin-bottom: 40px;
    padding: 0 20px;
    text-align: center;
}

.section-wrap-top {
    margin-bottom: 40px;
    padding: 0 20px;
    text-align: center;
}

@media screen and (min-width: 35.5em) {
    .section-wrap {
        padding: 0 40px;
        text-align: left;
    }
    .section-wrap-top {
        padding: 0 40px;
    }
}

.section-constrained-width {
    max-width: 960px;
    margin: 0 auto;
}

.atlas-section {
    padding: 60px 0;
    border-top: 1px solid #DDDDDD;
}

/*  GENERAL TYPE
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.subhead {
    margin: 0 0 10px;
}

.subhead-deck {
    margin: 0 0 20px;
}

.atlas-btn-icon {
    margin-right: 2px;
}

.atlas-btn-icon-large {
    margin-right: 6px;
}

.offset-text {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.offset-text-shadow {
    text-shadow: rgba(0, 0, 0, .4);
}

.label {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.atlas-btn {
    height: 36px;
    padding: .8em 1em 1em;
}

.atlas-btn-no-outline {
    height: 36px;
}

/*  HEADER
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-header {
    position: relative;
    display: table;
    width: 100%;
    margin: 40px auto 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

.subhead-wrap {
    margin: 0 auto;
}


/*  LOGO (silly, looking forward to changing)
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-logo {
    display: block;
    float: left;
    width: 170px;
    margin-bottom: -1px;
    white-space: nowrap;
    text-decoration: none;
}


/*  NAV
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-nav {
    display: none;
    width: 100%;
}

.site-nav-list {
    float: right;
    margin: 0;
    padding: 0;
}

.site-nav-item {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 10px;
    list-style-type: none;
    -webkit-transition: color .2s;
            transition: color .2s;
}

.site-nav-item:first-child {
    padding-left: 0;
}

.site-nav-item:last-child {
    padding-right: 0;
}

@media screen and (min-width: 48em) {
    .site-nav {
        display: table-cell;
    }
}


/*  SLIDEIN NAV
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/* These rules are necessary for slide-in to work */
html,
 body,
 .container,
 .home-body {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.site-nav-slidein-item {
    -webkit-transition: color .2s;
            transition: color .2s;
}

.close-button:focus {
    outline: 0;
}

@media screen and (min-width: 48em) {
    .site-nav-slidein-button {
        display: none;
    }
}

.site-nav-slidein-wrap a {
    color: rgb(230, 230, 230);
}

.site-nav-slidein-wrap a:hover,
 .site-nav-slidein-wrap a:focus {
    color: #C94E50;
}

.home-body {
    overflow-y: scroll;
}

/* site-nav-slidein Button */
.site-nav-slidein-button {
    font-size: 1em;
    position: absolute;
    right: 0;
    bottom: 20px;
    border: none;
}

.site-nav-slidein-button:focus {
    outline: 0;
    -webkit-overflow-scrolling: touch;
}

/* Close Button */
.close-button {
    font-size: .75em;
    position: absolute;
    top: 2em;
    right: 2em;
    overflow: hidden;
    width: 1em;
    width: 30px;
    height: 1em;
    height: 30px;
    padding: 1em;
    -webkit-transition: color .2s;
            transition: color .2s;
    text-indent: 1em;
    color: transparent;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 50%;
    background: transparent;
}

.close-button::before,
 .close-button::after {
    position: absolute;
    top: 25%;
    left: 46%;
    width: 2px;
    height: 50%;
    content: '';
    -webkit-transition: background-color .2s;
            transition: background-color .2s;
    background: rgb(230, 230, 230);
}

.close-button:hover::before,
 .close-button:hover::after {
    background: #D04C3F;
}

.close-button::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.close-button::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* site-nav-slidein */
.site-nav-slidein-wrap {
    font-size: 1.15em;
    position: absolute;
    z-index: 1001;
    width: 300px;
    height: 100%;
    padding: 2.5em 1.5em 0;
    -webkit-transition: -webkit-transform .4s;
            transition:         transform .4s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(-300px,0,0);
            transform: translate3d(-300px,0,0);
    background: #373A47;
}

.site-nav-slidein,
 .site-nav-slidein-list {
    height: 100%;
}

.site-nav-slidein-list {
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
}

.site-nav-slidein-list a {
    display: block;
    padding: .8em;
    -webkit-transform: translate3d(0,500px,0);
            transform: translate3d(0,500px,0);
}

.site-nav-slidein-list,
 .site-nav-slidein-list a {
    -webkit-transition: -webkit-transform 0s .4s;
            transition:         transform 0s .4s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
}

.site-nav-slidein-list a:nth-child(2) {
    -webkit-transform: translate3d(0,1000px,0);
            transform: translate3d(0,1000px,0);
}

.site-nav-slidein-list a:nth-child(3) {
    -webkit-transform: translate3d(0,1500px,0);
            transform: translate3d(0,1500px,0);
}

.site-nav-slidein-list a:nth-child(4) {
    -webkit-transform: translate3d(0,2000px,0);
            transform: translate3d(0,2000px,0);
}

.site-nav-slidein-list a:nth-child(5) {
    -webkit-transform: translate3d(0,2500px,0);
            transform: translate3d(0,2500px,0);
}

.site-nav-slidein-list a:nth-child(6) {
    -webkit-transform: translate3d(0,3000px,0);
            transform: translate3d(0,3000px,0);
}

.site-nav-slidein-list a span {
    margin-left: 10px;
}

.site-nav-slidein-list span,
 .site-nav-slidein-list i {
    -webkit-transition: color .2s;
            transition: color .2s;
}


/* Shown site-nav-slidein */
.show-site-nav-slidein .site-nav-slidein-wrap {
    -webkit-transition: -webkit-transform .8s;
            transition:         transform .8s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

.show-site-nav-slidein .site-nav-slidein-list,
 .show-site-nav-slidein .site-nav-slidein-list a {
    -webkit-transition: -webkit-transform .8s;
            transition:         transform .8s;
    -webkit-transition-timing-function: cubic-bezier(.7,0,.3,1);
            transition-timing-function: cubic-bezier(.7,0,.3,1);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
}

.show-site-nav-slidein .site-nav-slidein-list a {
    -webkit-transition-duration: .9s;
            transition-duration: .9s;
}

/*  EXAMPLES
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.examples-grid {
    padding-bottom: 40px;
    border-bottom: 1px solid #DDDDDD;
}

.example-main {
    display: none;
    cursor: pointer;
}

.examples-queue {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: row;
    margin: 0;
    padding: 0;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.example-sub {
    position: relative;
    display: block;
    overflow: hidden;
            flex-direction: column;
    margin-bottom: 1em;
    cursor: pointer;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

.example-img {
    width: 100%;
    -webkit-transition: opacity .2s;
            transition: opacity .2s;
    opacity: .85;
}

.example-caption-wrap {
    width: 100%;
    margin-top: -3px;
    padding: 1em;
    -webkit-transition: background-color .2s;
            transition: background-color .2s;
    color: white;
    background-color: #A6B3C1;
}

.example-sub:hover .example-caption-wrap {
    background-color: #404D5B;
}

.example-sub:hover .example-img {
    opacity: 1;
}

.example-caption-wrap-main {
    background-color: #404D5B;
}

.example-caption-wrap-main .example-copy {
    font-size: 1.5em;
    font-weight: 700;
}

.example-slug {
    margin: 0 auto 5px;
}

.example-copy {
    margin: 0 auto;
}

@media screen and (max-width: 35.5em) {
    .example-sub {
        width: 100%;
    }
}

@media screen and (min-width: 35.5em) {
    .example-sub {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
    .example-sub:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .example-sub:first-child,
    .example-sub:nth-child(3) {
        padding: 0 .5em 0 0;
    }
    .example-sub:nth-child(2),
    .example-sub:last-child {
        padding: 0 0 0 .5em;
    }
}

@media screen and (min-width: 48em) {
    .example-main {
        display: block;
    }
    .example-img-wrap {
        overflow: hidden;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: auto 100%;
    }
    .example-img {
        display: none;
    }
    .example-sub {
                flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
                align-items: stretch;
    }
    /* nth child-ed to override previous media query specificity */
    .example-sub:nth-child(n) {
        margin-bottom: 0;
        padding: 0;
    }
    .example-sub:nth-last-child(-n+3) {
        border-left: 1px solid white;
    }
    .example-inactive .example-caption-wrap {
        background-color: #A6B3C1;
    }
    .example-active .example-caption-wrap {
        background-color: #404D5B;
    }
    .example-sub-slug {
        display: none;
    }
}


/*  SEARCH
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.search-wrap {
    position: relative;
    width: 100%;
}

.atlas-search {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px;
}

/* To override pure.css specificity*/
.atlas-search.atlas-search[type=text] {
    border-radius: 0;
}

@media screen and (min-width: 480px) {
    .atlas-search {
        width: 70%;
    }
}

@media screen and (min-width: 48em) {
    .ask-wrap {
        padding-left: 1.5em;
    }
}

/* Triple classed to override pure.css specificity*/
.atlas-search-btn.atlas-search-btn.atlas-search-btn {
    width: 34%;
    margin-bottom: 10px;
}

@media screen and (min-width: 480px) {
    .atlas-search-btn.atlas-search-btn.atlas-search-btn {
        float: right;
        width: 28%;
    }
}

.subhead-search {
    margin-bottom: 15px;
}

.term-highlight {
    font-weight: 700;
}


/*  SEARCH (JQUERY UI AUTOCOMPLETE CLASSES)
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.ui-menu {
    padding: 0;
    list-style: none;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    outline: 0;
    background: white;
}

.ui-menu-item {
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #DDDDDD;
}

.ui-menu-item:last-of-type {
    border-bottom: none;
}

.ui-widget-content .ui-state-focus {
    color: #D04C3F;
    border-radius: 0;
}

.autocomplete-wrap {
    width: 80px;
}

.ui-helper-hidden-accessible {
    display: none;
}


/*  TEASES
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.teases-wrap {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #DDDDDD;
}

@media screen and (min-width: 48em) {
    .teases-wrap:first-child {
        margin-bottom: 0;
        padding-right: 1.5em;
        padding-bottom: 0;
        border-right: 1px solid #DDDDDD;
        border-bottom: 0;
    }

    .teases-wrap:last-child {
        padding-left: 1.5em;
    }
}

/*  SELECT
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.select-full {
    width: 100%;
}

.select-wrap:first-child {
    margin-bottom: 20px;
}

@media screen and (min-width: 35.5em) {
    .select-menu-wrap {
        /*width: 75%;*/
        margin: 0 auto;
    }
}




/*  FOLLOW @ATLASFACTS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.follow-atlasfacts-btn {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 36px;
    margin: 20px auto 0;
    padding: .8em 1em 1em;
    border: 2px solid #D8D8D8;
}

.atlasfacts-icon {
    margin-right: 6px;
}


/*  MEGAFOOTER
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-megafooter {
    padding: 50px 0 0;
    background-color: rgb(230, 230, 230);
}

.atlas-megafooter {
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.megafooter-topper {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.megafooter-section {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CCCCCC;
}

.cid-logo {
    margin-bottom: 20px;
    padding: 0 10px 20px;
    border-bottom: 1px solid #CCCCCC;
}

.megafooter-social-wrap {
    margin: 0 auto 10px;
    text-align: center;
}

.megafooter-btn {
    border: 2px solid #D8D8D8;
}

.megafooter-social-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    border: 2px solid #D8D8D8;
    border-radius: 50%;
}

.megafooter-social-btn:nth-of-type(1) {
    right: 50px;
}

.megafooter-social-btn:nth-of-type(2) {
    right: 0;
}

.megafooter-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
            flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
}

@media screen and (min-width: 35.5em) {
    .megafooter-social-wrap {
        position: absolute;
        right: 0;
        bottom: 10px;
        margin-bottom: 0;
    }
    .cid-logo {
        margin-bottom: 0;
        padding: 0 20px 0 0;
        border-bottom: none;
    }
}

@media screen and (min-width: 48em) {
    .megafooter-content {
                flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
    }
}


/*  SITE NAV FULL
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.site-nav-full {
    text-align: left;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
            order: 2;
}

.site-nav-full-list-toplevel {
    margin-bottom: 20px;
}

.site-nav-full-toplevel {
    font-size: .6875em;
    margin-bottom: 20px;
}

.site-nav-full-toplevel:last-of-type,
 .site-nav-full-toplevel:last-of-type .site-nav-full-secondlevel:last-of-type {
    margin-bottom: 0;
}

.site-nav-full-toplevel > .site-nav-full-link {
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid #CCCCCC;
}

.site-nav-full-link-withkids {
    margin-bottom: 10px;
}

.site-nav-full-secondlevel {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #66717B;
}

.site-nav-full-secondlevel:first-child {
    margin-top: 6px;
}

@media screen and (min-width: 35.5em) {
    .site-nav-full-list-toplevel {
        margin-bottom: 0;
        padding-right: 1em;
    }
    .site-nav-full-list-toplevel:first-child {
        padding-right: 1em;
    }
    .site-nav-full-list-toplevel:last-child {
        padding-left: 1em;
        border-left: 1px solid #CCCCCC;
    }
}

@media screen and (min-width: 48em) {
    .site-nav-full {
        float: left;
        padding-bottom: 0;
        border-bottom: 0;
    }
    .site-nav-full-list-toplevel {
        border-width: 0;
    }
    .site-nav-full-list-toplevel:first-child {
        padding-right: 1em;
    }
    .site-nav-full-list-toplevel:last-child {
        padding: 0 1em 0 1em;
        border-right: 1px solid #CCCCCC;
    }
}


/*  MEGAFOOTER SIGNUP
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.megafooter-listserv {
    margin-bottom: 60px;
    text-align: center;
}

.listserv-submit-wrap {
    max-width: 300px;
    margin: 0 auto;
}

/* Overspecifc to combat pure.css */
.listserv-input.listserv-input[type=email] {
    float: left;
    width: 100%;
    border-radius: 0;
}

.listserv-button {
    width: 34%;
}

@media screen and (min-width: 48em) {
    .megafooter-listserv {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

@media screen and (min-width: 48em) {
    .megafooter-listserv {
        position: absolute;
        right: 0;
        padding-left: 1.5em;
        text-align: left;
    }
}

@media screen and (min-width: 480px) {
    .listserv-input.listserv-input[type=email] {
        width: 64%;
        border-radius: 0;
    }
    .listserv-button {
        float: right;
    }
}


/*  LICENSE
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.license-wrap {
    padding: 30px 20px;
    background-color: gray;
}

.license-copy {
    font-weight: 500;
    line-height: 140%;
    display: block;
    text-align: center;
    color: white;
}
