/* ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~

//  Ranking styles

// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/*  GENERAL RESETS NOT IN NORMALIZE.CSS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

html {
    /* autoprefixer: off */
    -moz-box-sizing: border-box;
         box-sizing: border-box;   /* Firefox 1, probably can drop this */   /* Safari 3-4, also probably droppable */
    color: inherit;
}

*,
 *:before,
 *:after {
    /* autoprefixer: off */
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

body,
 input,
 textarea {
    color: #404D5B;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: subpixel-antialiased;
}

a,
 a:hover,
 a:active,
 a:visited {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding-left: 0;
}

.clear:before,
 .clear:after {
    display: table;
    content: ' ';
}

.clear:after {
    clear: both;
}

body {
  background: white;
}


/*  SIDEBAR
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.sidebar {
  float: left;
  width: 265px;
}

.sidebar__head {
  margin: 0;
}

.sidebar__subhead {
  margin: 10px 0 20px;
  text-transform: none;
}

.sidebar__list {
  margin: 10px 0 20px;
  list-style-type: none;
}




/*  SIDEBAR
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.footer__logo {
  margin: 0 auto;
}


/*  NEWS
// ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
.news__article {
    margin-left: 300px;
    max-width: 600px;
}

.news__header {
    margin-bottom: 40px;
    height: inherit;
}

.news__date {
    /*font-weight*/
}

.news__head {
    font-size: 31px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.news__dateline {
    font-weight: 700;
}

.news__subhead {
    margin-top: 40px;
    font-weight: 700;
    text-transform: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.news__figure {
    padding: 40px 0;
    margin: 40px 0;
    max-width: 600px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align: center;
}

.news__figure__caption {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.news__figure__img {
    max-width: 100%;
    margin-bottom: 20px;
}

.news__figure__cite {
    display: block;
}

.news__contact {
    margin: 20px 0;
}

.news__contact__entry {
    font-size: 16px;
    line-height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.news__contact__entryname {
    font-weight: 700;
}

.news__p {
    font-size: 16px;
    line-height: 150%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
