#tool_pane{
	text-align: center;
	width: 55px;
	padding:0 10px;
}
#tool_pane h4{
	padding: 0px;
}
#tool_pane  a{

	display: block;
}

i{
	color:#666;
	padding-bottom: 20px;
	display: block;
	margin: 0 auto;
}

i:not(.flash):hover{
	color:#A41034;
}
#downloadPlaceholder{

}
#downloadPlaceholder i{
	padding-bottom: 0px;
}
span.dlOption{
	padding-bottom: 20px;
}
.dlOption p{
	margin: 0;
	margin-bottom: 10px;
	color: #666;
}
.dlOption a p:hover{
	text-decoration: none;
	cursor: default;
}
.bootstro-backdrop{
	z-index: 1000;
}
#moreOptions{
	display: none;
	margin-bottom: 20px;
}
#moContainer{
	width: 100%;
}
#showMore{
	cursor: pointer;
	width: 120px;
	margin: 0 auto;
	margin-bottom: 20px;
	font-weight: bold;	
}
#showMore:hover, .moreActive{
	color:#A41034;
	text-decoration: underline;
}