{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block heading_title %}Data & Sharing{% endblock %}

{% block css %}
<link rel="stylesheet" href="media/js/libs/bootstrap/bootstrap.css">
<style>
table {
	width: 100%;
}
</style>
{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="about/">About</a></li>
      <li><a href="about/support/">Support & Founding Members</a></li>
      <li><a href="about/research/">Research</a></li>
      <li><a href="about/glossary/">Glossary</a></li>
      <li><a href="about/data/"class="active">Data & Sharing</a>
        <ul>
          <li><a href="about/data/#notes">Notes</a></li>
          <li><a href="about/data/#contributing">Re-using and Contributing</a></li>

          <li><a href="about/privacy/">Privacy Policy</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div id="content">

<p>The Atlas online provides access to bilateral trade data for roughly 200 countries spanning 50 years and across 1000 different products, using the Standardized International Trade Code at the four-digit level (SITC-4) revision 2 classification. The Atlas online also provides world trade data in the Harmonized System Classification (HS4) maintained by the Centre d’Etudes Prospectives et d’Informations Internationales (CEPII) dating back to 1995. The sources of the data used are:</p>

<ul>
  <li>1962 – 2000: The Center for International Data from Robert Feenstra</li>
  <li>2001 – 2009: UN COMTRADE</li>
  <li>2010 – 2011: ??</li>
</ul>

<a name="notes"></a>
<h3>Notes</h3>

<p>Our measurements are by no means perfect:</p>

<p>The Atlas online relies on international trade data. We made this choice because it is the only dataset available that has rich detailed cross-country information linking countries to the products they produce using a standardized classification. It includes data on exports, but not production.</p>

<p>Secondly, this dataset only includes goods, and not services. The latter does not flow through customs offices that are the source of our statistical records.</p>

<p>Finally, we do not include information on non-tradable activities such as construction or restaurants. Producers and consumers meet in the same place for such activities, and while these interactions are an important part of the economic ecosystem, these factors are not represented by current data.</p>

<a name="contributing"></a>
<h3>Re-using and Contributing</h3>

<p>The Atlas online is published under a <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-Sharealike 3.0 Unported License</a>, so feel free to share the site and embed the apps anywhere on the Internet. When doing so, please remember to attribute the site and its <a href="about/#team">creators</a>.</p>


<p>As an open source platform, The Atlas online welcomes any and all collaborators to the project. We also provide an <a href="about/api/">API</a> for the casual user interested in embedding their own Atlas app on any webpage. If interested, fork the site at:</p>


<p style="text-align:center"><a href="http://github.com/Harvard-CID/observatory_economic_complexity">http://github.com/Harvard-CID/observatory_economic_complexity/</a></p>

When referring to the site in publications, please cite the following reference:

<blockquote>"The Atlas of Economic Complexity," Center for International Development at Harvard University, http://www.atlas.cid.harvard.edu</blockquote>

<p>When referring to the book, The Atlas of Economic Complexity in publications, please cite the following reference:</p>

<blockquote>R Hausmann, CA Hidalgo, S Bustos, M Coscia, S Chung, J Jimenez, A Simoes, M Yildirim. The Atlas of Economic Complexity. Puritan Press. Cambridge MA. (2011)</blockquote>

<p>For more information, please contact Chuck McKenney, Communications Manager, at 617.495.8496, or at <a href="mailto:chuck_mckenney@hks.harvard.edu">chuck_mckenney@hks.harvard.edu</a></p>


<!--

  <table class="table table-bordered table-condensed table-striped">
  	<thead>
  		<tr>
  			<th>&nbsp;</th>
  			{% for h in headers %}
  			<th>{{h}}</th>
  			{% endfor %}
  		</tr>
  	</thead>
  	<tbody>
  		{% for row in items %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			{% for i in row %}
  			<td>{{i}}</td>
  			{% endfor %}
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>
-->

</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}