{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block heading_title %}Data & Sharing{% endblock %}

{% block css %}
<link rel="stylesheet" href="/media/js/libs/bootstrap/bootstrap.css">
<style>
table {
	width: 100%;
}
</style>
{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/about/support/">Support & Founding Members</a></li>
      <li><a href="/about/research/">Research</a></li>
      <li><a href="/about/glossary/">Glossary</a></li>
      <li><a href="/about/data/"class="active">Data & Sharing</a>
        <ul>
          <li><a href="/about/data/#notes">Notes</a></li>
          <li><a href="/about/data/#reuse">Reuse and Contribution</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div id="content">

<div class="app_title" id="title">


The Atlas online provides access to bilateral trade data for roughly 200 countries spanning 50 years and across 1000 different products, using the Standardized International Trade Code at the four-digit level (SITC-4) revision 2 classification. The Atlas online also provides world trade data in the Harmonized System Classification (HS4) maintained by the Centre d’Etudes Prospectives et d’Informations Internationales (CEPII) dating back to 1995. The sources of the data used are:

1962 – 2000: The Center for International Data from Robert Feenstra
2001 – 2009: UN COMTRADE
2010 – 2011: UN COMTRADE





<p>The Observatory provides access to bilateral trade data for roughly 200 countries, 50 years and 1000 different products of the Standardized International Trade Code at the four-digit level (SITC-4) revision 2 classification. The sources of the data used are:</p>

<ul>
  <li>1962 – 2000: The Center for International Data from Robert Feenstra</li>
  <li>2001 – 2009: UN COMTRADE</li>
  <li>2010 – 2011: ??</li>
</ul>

<h3>Notes</h3>


<p>There are a few inhibitors to our own measurements: 

<p>The Atlas relies on international trade data. We made this choice because it is the only dataset available that has rich detailed cross-country information linking countries to the products they produce using a standardized classification. It includes data on exports, but not production.</p>

<p>Secondly, this dataset only includes goods, and not services. The latter does not flow through customs offices that are the source of our statistical records.</p>

<p>Finally, we do not include information on non-tradable activities such as construction or restaurants. Producers and consumers meet in the same place for such activities, and while these interactions are an important part of the economic ecosystem, these factors are not represented by current data.</p>


<!--

  <table class="table table-bordered table-condensed table-striped">
  	<thead>
  		<tr>
  			<th>&nbsp;</th>
  			{% for h in headers %}
  			<th>{{h}}</th>
  			{% endfor %}
  		</tr>
  	</thead>
  	<tbody>
  		{% for row in items %}
  		<tr>
  			<td>{{forloop.counter}}</td>
  			{% for i in row %}
  			<td>{{i}}</td>
  			{% endfor %}
  		</tr>
  		{% endfor %}
  	</tbody>
  </table>
-->

</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}