{% extends "template.html" %}

{% block page_title %}About - Glossary{% endblock %}
{% block heading_title %}Glossary{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="about/">About</a></li>
      <li><a href="about/support/">Support & Founding Members</a></li>
      <li><a href="about/research/">Research</a></li>
      <li><a href="about/glossary/" class="active">Glossary</a></li>
      <li><a href="about/data/">Data & Sharing</a></li>
    </ul>
  </nav>
</div>

<style>
#content h4 {
    text-transform: uppercase;
  text-align: left;
  font-size: 18px;
  margin-bottom: 2px;
  color: black;
  font-weight:500;00;
}

</style>

<div id="content">

{% include "about/glossary_text.html" %}
  
</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}