{% extends "template.html" %}

{% block page_title %}About - Glossary{% endblock %}
{% block heading_title %}Glossary{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<div id="sticky-anchor"></div>
<div id="sticky">
  <div id="sidebar">
    <nav role="navigation">
      <ul>
        <li><a href="about/">About</a></li>
        <li><a href="about/support/">Support & Founding Members</a></li>
        <li><a href="about/research/">Research</a></li>
        <li><a href="about/glossary/" class="active">Glossary</a></li>
        <li><a href="about/data/">Data & Sharing</a></li>
      </ul>
    </nav>
  </div>
</div>

<style>
body{
  background-color: rgb(250, 250, 250);
}
#content h4 {
    text-transform: uppercase;
  text-align: left;
  font-size: 18px;
  margin-bottom: 2px;
  color: black;
  font-weight:500;00;
}
.dl-horizontal dt{
  white-space: -moz-normal; 
  white-space: normal;  
}
</style>

<div id="aboutContent">
  <div id="contInner">
    {% include "about/glossary_text.html" %}
  </div>
  <div id="contFooter">
    <footer>
      <div class="footerInner">
        <span>The Atlas of Economic complexity is a powerful interactive tool that enables users to visualize a country's total trade, track how these dynamics change over time and explore growth opportunities for more than a hundred countries worldwide.</span>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Atlas of Economic complexity</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Current version: <a href="https://github.com/cid-harvard/atlas-economic-complexity">{{ VERSION }}</a>.
        <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0 display:block;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
        <p style="clear:both"></p>
        <a style=" margin-left:150px; float:left;" href="http://www.hks.harvard.edu/centers/cid"><img src="media/img/all/logo_cid.png" alt="Center for International Development Logo"/></a>
        <div class="language_select" style="float:right; margin-right:150px;">
          <div class="text">
            Language:
          </div>
          <select>
            {% for lang in supported_langs %}
            <option style="" value="{{lang.0.code}}" {% if lang.0.code == LANGUAGE_CODE %} selected="selected" {% endif %}>{{lang.0.name_local}}</option>
            {% endfor %}
          </select> 
        </div>
      </div>
    </footer>
  </div> 
</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script>
  $("head").append("<link rel='stylesheet' type='text/css' href='media/js/libs/bootstrap/css/bootstrap.css'>")
</script>
{% endblock %}