{% extends "template.html" %}

{% block page_title %}About{% endblock %}
{% block heading_title %}About The Observatory {% endblock %}


{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
  	<ul>
  		<li>
        <a href="/about/" class="active">About</a>
        <ul>
          <li><a href="/about/#origin">Origin</a></li>
          <li><a href="/about/#cid">Center for International Development</a></li>
          <li><a href="/about/#macroconnections">Macro Connections at MIT Media Lab</a></li>
        </ul>
      </li>
      <li><a href="/about/support/">Support & Founding Members</a></li>
      <li><a href="/about/research/">Research</a></li>
      <li><a href="/about/glossary/">Glossary</a></li>
  		<li><a href="/about/team/">The Team</a></li>
      <li><a href="/about/data/">Data & Sharing</a></li>
  		<li><a href="/about/permissions/">Permissions</a></li>
      <li><a href="/about/press/">Press</a></li>
  	</ul>
  </nav>
</div>

<div id="content">


  <h3>What is it?</h3>
  
  <p>The Observatory is a powerful interactive tool that enables users to visually mapvisualize trade flows among countries and products, and explore productive opportunities around the globe. The Observatory provides Internet users with a detailed set of tools, maps and new indexes that identify the economic opportunities incapabilities of countries and regions.</p>

  <p>The Observatory has multiple functionalities that allow investors, entrepreneurs, policy makers, students and any curious individual to understand the competitive landscape of 128 countries, and to map the path of diversification and prosperity for each.</p>

  <p>The Observatory can help answer questions such as:</p> 

  <ul>
    <li>What does a country import and export? How has this changed over time?</li>
    <li>What are the drivers of export growth of a particular country?</li>
    <li>Which new industries are likely to emerge in a country?</li>
    <li>What are the GDP growth prospects of a country in the next 5-10 years based onff their productive capabilities?</li>
  </ul>

  <p>The Observatory is continually evolving with new data and new applications to help users understand the complex and evolving nature of a country’s competitiveness.</p>

  <a name="origin"></a>
  <h3>Origin</h3>
  
  <p>The Observatory was conceived of as a versatile, interactive tool to make available the data and insights of our research on <a href="glossary/#economiccomplexity">Economic Complexity</a> to anyone with access to the Internet. The Observatory began as a collaboration between the Center for International Development at Harvard University (CID) and the Macro Connections group at the MIT Media Lab.  The Observatory was built as part of the lead developer Alexander Simoes' Master's Thesis at the MIT Media Lab’s Macro Connections Group with Cesar A. Hidalgo as his Thesis advisor. The research on <a href="glossary/#economiccomplexity">Economic Complexity</a> was led by Ricardo Hausmann, CID Director, and Cesar A. Hidalgo, Asahi Broadcast Corporation Career Development Professor at MIT, and published in The Atlas of Economic Complexity: Mapping Paths to Prosperity, a comprehensive study of national growth trajectories and analyses.</p>


  <p>The Observatory has been a result of the contribution and hard work of many individuals. Additional help in the development of the platform was provided by Ali Almossawi, Crystal Noel, David Landry, Sarah Chung and Eric Franco. Original versions of the datasets were provided by Muhammed Yildirim, Sebastian Bustos, Michele Coscia and Juan Jimenez. The Observatory is currently being managed at CID.</p>

  <a name="cid"></a>
  <h3>Center for International Development</h3>

  <p>Development has been the central story of the human experience for the last two centuries. Many countries have emerged from poverty to achieve incredible improvements in living standards, including nutrition, shelter, clean water, education, and health. But many countries are still mired in poverty. What can these societies do to achieve and sustain the levels of prosperity that we know are possible? This is the question that animates our work at Harvard’s Center for International Development.</p>

  <p>The Center, a university-wide research center housed at the Harvard Kennedy School, serves as a convening mechanism for breakthrough research that connects emerging insights with policymakers and practitioners. Many organizations focus on poverty alleviation, supporting worthy goals such as disease prevention, disaster relief, and education. CID takes this strategy one step further. Our mandate is to uncover the causes of these problems and search for their long-term solutions.</p>

  <p>The Center for International Development has four research programs:</p>

  <ul>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/building_state_capability">Building State Capacity</a></li>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/growth-lab">The Growth Lab</a></li>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/evidence-for-policy-design">Evidence for Policy Design</a></li>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/entrepreneurial-finance-lab-research-initiative">Entrepreneurial Finance Lab Research Initiative</a></li>
  </ul>

  <p>For more information on CID please contact Marcela Escobari, Executive Director, at 617.496.7413 or by email at <a href="mailto:marcela_escobari@harvard.edu">marcela_escobari@harvard.edu</a></p>

  <a name="macroconnections"></a>
  <h3>Macro Connections at MIT Media Lab</h3>

  <p>The Macro Connections group, housed at MIT Media Lab, focuses on the development of analytical tools that can help improve our understanding of the world’s macro structures in all of their complexity. By developing methods to analyze and represent networks—such as the networks connecting countries to the products they export, or historical characters to their peers—Macro Connections’ research aims to help improve our understanding of the world by putting together the pieces that our scientific disciplines have pulled apart.</p>


</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}