{% extends "template.html" %}

{% block page_title %}About{% endblock %}
{% block heading_title %}About{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
  	<ul>
  		<li>
        <a href="about/" class="active">About</a>
        <ul>
          <li><a href="about/#origin">Origin</a></li>
          <li><a href="about/#cid">Center for International Development</a></li>
          <li><a href="about/#macroconnections">Macro Connections at MIT Media Lab</a></li>
          <li><a href="about/#team">The Team</a></li>
          <li><a href="about/#press">Press</a></li>
        </ul>
      </li>
      <li><a href="about/support/">Support & Founding Members</a></li>
      <li><a href="about/research/">Research</a></li>
      <li><a href="about/glossary/">Glossary</a></li>
      <li><a href="about/data/">Data & Sharing</a></li>
  	</ul>
  </nav>
</div>

<style>


</style>

<div id="content">

  <h3>What is it?</h3>
  
  <p>The Atlas online is a powerful interactive tool that enables users to visualize a country’s total trade, track how these dynamics change over time and explore growth opportunities for more than a hundred countries worldwide.</p>

  <p>The Atlas is uesd by investors, entrepreneurs, policymakers, students and the general public to better understand the competitive landscape of countries around the globe. For any given country, The Atlas shows which products are produced and exported; The Atlas can then use this information to suggest products a country could begin manufacturing in order to fuel economic growth. As a dynamic resource, The Atlas is continually evolving with new data and features to help analyze economic growth and development.</p>

  <p>The Atlas can answer questions such as:</p>

  <ul>
    <li>What does a country import and export?</li>
    <li>How has its trade evolved over time?</li>
    <li>What are the drivers of export growth?</li>
    <li>Which new industries are likely to emerge in a given geography? Which are likely to disappear?</li>
    <li>What are the GDP growth prospects of a given country in the next 5-10 years, based on its productive capabilities?</li>
  </ul>

  <a name="origin"></a>
  <h3>Origin</h3>
  
  <p>The Atlas online was originally conceived of as a versatile, interactive tool to make trade data not only available, but also usable and to synthesize insights from research on <a href="about/glossary/#economiccomplexity">Economic Complexity</a>. </p>

  <p>Research into Economic Complexity was led by Ricardo Hausmann, Professor of the Practice of Economic Development at the Harvard Kennedy School and CID Director, and Cesar A. Hidalgo, Asahi Broadcast Corporation Career Development Professor at MIT. CID published this research in <i>The Atlas of Economic Complexity: Mapping Paths to Prosperity</i>, a comprehensive study of national growth trajectories and analyses. The Atlas online was originally built as part of lead developer Alexander Simoes’ masters thesis at the MIT Media Lab, with Cesar A. Hidalgo as his thesis advisor.</p>

  <p>The Atlas online is the result of the contribution and hard work of many individuals. Additional help in the development of the platform was provided by Ali Almossawi, Crystal Noel, David Landry, Sarah Chung and Eric Franco. Original versions of the datasets were provided by Muhammed Yildirim, Sebastian Bustos, Michele Coscia and Juan Jimenez. The Atlas online is currently being managed at the Center for International Development.</p>

  <a name="cid"></a>
  <h3>Center for International Development</h3>

  <p>Development has been the central story of the human experience for the last two centuries. Many countries have emerged from poverty to achieve incredible improvements in living standards—including nutrition, shelter, clean water, education and health. But many countries are still mired in poverty. What can these societies do to achieve and sustain the levels of prosperity that we know are possible? This is the question that animates our work at Harvard’s Center for International Development (CID).</p>

  <p>CID, a university-wide research center housed at the Harvard Kennedy School, serves as a convening mechanism for breakthrough research that connects emerging insights with policymakers and practitioners. Many organizations focus on poverty alleviation, supporting worthy goals such as disease prevention, disaster relief, and education. CID takes this strategy one step further: our mandate is to uncover the causes of these problems and search for their long-term solutions.</p>

  <p>CID has four academic research programs:</p>

  <ul>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/building_state_capability">Building State Capability</a> identifies potential solutions to “capability traps”—a situation in which a developing country’s state capability stagnates even as resources continue to flow. Building State Capability has developed an innovative, alternative approach: “Problem-Driven Iterative Adaptation” (PDIA). Consisting of four core principles, PDIA aims to change how organizations and policies function, as opposed to just changing what they look like. Building State Capability is led by an interdisciplinary team of faculty, including Lant Pritchett, Matt Andrews and Michael Woolcock.</li>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/growth-lab">The Growth Lab</a> investigates questions of economic growth, including growth constraints and growth disparities. Led by Ricardo Hausmann, Lant Pritchett and Dani Rodrik, the Growth Lab works to translate insights on growth into more effective policymaking in developing countries.</li>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/evidence-for-policy-design">Evidence for Policy Design</a> (EPoD) utilizes the tools of microeconomics to find solutions to questions of policy design in low-income countries. EPoD also engages in policy dialogues and trains policymakers to utilize analytical tools and frameworks for smarter policymaking. EPoD is led by Rohini Pande and Asim Khwaja.</li>
    <li><a href="http://www.hks.harvard.edu/centers/cid/programs/entrepreneurial-finance-lab-research-initiative">Entrepreneurial Finance Lab Research Initiative</a> (EFLRI) evaluates the impact of psychometric screening tools and alternative financial contracts on access to finance and entrepreneurial growth in the developing world’s “missing middle.” EFLRI is led by Asim Khwaja.</li>
  </ul>

  <p><i>For more information on CID, to subscribe to CID research updates or to hear about new applications please contact Marcela Escobari, Executive Director, at 617.496.7413 or by email at <a href="mailto:marcela_escobari@harvard.edu">marcela_escobari@harvard.edu</a></i></p>

  <a name="macroconnections"></a>
  <h3>Macro Connections at MIT Media Lab</h3>

  <p>The Macro Connections group (+link), housed at MIT Media Lab, focuses on the development of analytical tools that can help improve our understanding of the world’s macro structures in all of their complexity. By developing methods to analyze and represent complex networks—such as the networks connecting countries to the products they export, or historical data to their modern counterparts—Macro Connections’ research aims to improve our understanding of the world by putting together the pieces that our scientific disciplines have pulled apart.</p>


  <a name="team"></a>
  <h3>The Team</h3>

<h3>Faculty Advisor</h3>

<h4>Ricardo Hausmann</h4>

<p>Ricardo is the Director of Harvard’s Center for International Development (CID) and Professor of the Practice of Economic Development at Harvard University. Previously, he served as the first Chief Economist of the Inter-American Development Bank where he created the Research Department. He has served as Minister of Planning of Venezuela and as a member of the Board of the Central Bank of Venezuela. His research interests include issues of growth, macroeconomic stability, international finance, gender gaps and the social dimensions of development. He holds a PhD in economics from Cornell University.</p>

<h3>Web Development/Data Visualization</h3>

<h4>Romain Vuillemot</h4>

<p>Romain is a data visualization fellow at CID. He currently works on the design of novel visualizations for The Atlas <a href="http://atlas.cid.harvard.edu/">online</a>. Romain holds a PhD in Computer Science from INSA Lyon, France (2010) and was previously a post-doc at AVIZ, INRIA Saclay, France (until 2013). His research interests lie in the visual communication of complex data. He specifically focuses on exploring novel visual design spaces, as well as structuring existing ones. Romain is also interested in making visualization more accessible and understandable to lay audiences both on the web and in casual environments.</p>

<h4>Michele Coscia</h4>

<p>Michele currently works as a Growth Lab Fellow at CID. He is trained in data mining and his research is focused primarily on Complex Network analysis, particularly on multidimensional networks, i.e. networks expressing multiple different relations at the same time. Michele has created an <a href="http://www.michelecoscia.com/wp-content/uploads/2013/05/asonam2013.pdf">algorithm</a> that can search and mine where an employee is positioned on a global skill network, and a <a href="http://www.michelecoscia.com/wp-content/uploads/2013/09/geocoop.pdf">data-mining machine</a> that can predict which shop a customer will visit to buy a given product. Michele also designed and developed <a href="www.atlas.cid.harvard.edu/aidxp">The Aid Explorer</a>, an online tool to help facilitate better aid coordination. </p>

<h3>Research/Data</h3>

<h4>Sebastian Bustos</h4>

<p>Sebastian is a Research Fellow at CID and a Doctoral candidate in Public Policy at Harvard University. His research interests include the development of the private sector and how governments can solve market failures to accelerate growth.  Before his studies at Harvard, Sebastian served as Economic Adviser to the Minister of Finance of Chile, focusing on capital markets and tax reforms.</p>

<h4>Daniel Stock</h4>

<p>Daniel is a Research Fellow at CID with a focus on how countries and regions transform their economic structure as they grow out of poverty. He is currently studying patterns of international trade at the industry level, using models of country and product relatedness to explain output growth.</p>

<h4>Muhammed A. Yildrim</h4>

<p>Muhammed is a Growth Lab post-Doctoral Fellow at CID. He focuses on understanding and modeling the evolution of the Product Space. In his project, he tries to uncover the hidden capabilities behind the Product Space to understand the revealed productive structure of countries.</p>

<h3>Project Team</h3>

<h4>Marcela Escobari</h4>

<p>Marcela is the Executive Director of Harvard’s Center for International Development (CID), a university-wide center that develops and disseminates breakthrough strategies for growth and prosperity in developing countries. Before joining CID, Marcela led the Americas region and served on the Executive Committee of the OTF Group, where she advised heads of state and private sector leaders on how to improve their countries’ export competitiveness. Marcela The World Economic Forum recently named Marcela a Young Global Leader for 2013.</p>

<h4>Andrea Carranza</h4>
Andrea is the Assistant Director of CID. Prior to CID, Andrea was an Advisor to Grameen Research and Director of Cambridge Energy Research Associates (IHS CERA), a global energy research firm. Andrea launched several new businesses for IHS CERA, including the firm’s Asia Pacific, global finance and global power practices. Andrea is developing the Founding Members platform to support The Atlas online. 

<h4>Chuck McKenney</h4>

<p>Chuck is the Communications Manager at CID and Project Manager for the Observatory. Chuck has more than 15 years experience in broadcast, digital and print communications and has worked for academic, media, corporate, and nonprofit organizations.</p>


  <a name="press"></a>
  <h3>Press</h3>

  <p><i>The Atlas of Economic Complexity: Mapping Paths to Prosperity</i> and The Atlas online have been featured in popular public media, some of which can be found below.</p>

  <div class="atlas_book_content">
   <div style="float:left; text-align:left">
    <a href="media/atlas/pdf/HarvardMIT_AtlasOfEconomicComplexity.pdf"><img src="media/img/book/atlas_free_sample.png"></a>
    </div>
    <div style="float:left; text-align:left">

    <p><a href="http://www.ft.com/intl/cms/s/2/3fc2975c-4703-11e1-bc5f-00144feabdc0.html">Financial Times</a></p>
    <p><a href="http://www.nytimes.com/interactive/2011/05/15/magazine/art-of-economic-complexity.html">New York Times Magazine</a></p>

    <p><a href="http://blogs.wsj.com/economics/2011/10/26/complexity-predicts-nations-future-growth/">Wall Street Journal</a></p>
    <p><a href="http://www.washingtonpost.com/blogs/wonkblog/post/is-complexity-the-key-to-economic-growth/2011/10/26/gIQAcCTYJM_blog.html">The Washington Post</a></p>
    <p><a href="http://www.economist.com/blogs/freeexchange/2011/10/building-blocks-economic-growth">The Economist</a></p>
    <p><a href="http://www.abc.net.au/worldtoday/content/2011/s3349175.htm">ABC News</a></p>
    <p><a href="http://www.good.is/posts/global-economics-gets-a-facelift-the-atlas-of-economic-complexity">Good Business</a></p>
    <p><a href="http://phys.org/news/2011-10-country-wealth-knowledge.html">PhysOrg</a></p>
  </div>
</div>

</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}