{% extends "template.html" %}

{% block page_title %}About - Permissions{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="about/">About</a></li>
      <li><a href="about/support/">Support & Founding Members</a></li>
      <li><a href="about/research/">Research</a></li>
      <li><a href="about/glossary/">Glossary</a></li>
      <li><a href="about/team/">The Team</a></li>
      <li><a href="about/data/">Data</a></li>
      <li><a href="about/permissions/" class="active">Permissions</a>
        <ul>
          <li><a href="about/permissions/#reuse">Reusing and Contributing</a></li>
        </ul>
      </li>
      <li><a href="about/press/">Press</a></li>
    </ul>
  </nav>
</div>
          
<div id="aboutContent">
  <div id="contInner">
    <div class="app_title" id="title"><h2>Permissions</h2></div>
    <br><br><br><br>
    <p>The observatory is published under a <a href="http://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License">Creative Commons Attribution-Sharealike 3.0 Unported License</a> so feel free to share the site and embed the apps anywhere on the internet. When doing so, please remember to attribute the site and its <a href="about/#team">creators</a><p>
    <p>When refering to the site in publications please cite the following references:</p>

    	<blockquote>
    		<p>AJG Simoes, CA Hidalgo. The Economic Complexity Observatory: An Analytical Tool for Understanding the Dynamics of Economic Development. Workshops at the Twenty-Fifth AAAI Conference on Artificial Intelligence. (2011)</p>

    		<p>R Hausmann, CA Hidalgo, S Bustos, M Coscia, S Chung, J Jimenez, A Simoes, M Yildirim. The Atlas of Economic Complexity. Puritan Press. Cambridge MA. (2011)</p>
    	</blockquote>

    <p>For more information please contact Chuck McKenney (<a href="mailto:chuck_mckenney@hks.harvard.edu">chuck_mckenney@hks.harvard.edu</a>)</p>

    <h3>Re-using and Contributing</h3>
    
    <p>The Observatory website is an open source platform built as part of the lead developer, Alexander Simoes' Master's Thesis at the MIT Media Lab. In being an open source project and leveraging the many technologies also available for fair use we welcome any and all collaborators to the project. Feel free to fork the site at:</p>

    <blockquote><a href="https://github.com/Harvard-CID/observatory_economic_complexity/" title="Fork me on github">http://github.com/Harvard-CID/observatory_economic_complexity/</a></blockquote>
    
    <p>We also provide an <a href="about/api/">API</a> for the casual user interested in embedding their own Observatory app on any webpage.</p>
  </div>
  <div id="contFooter">
    <footer>
      <div class="footerInner">
        <span>The Atlas of Economic complexity is a powerful interactive tool that enables users to visualize a country's total trade, track how these dynamics change over time and explore growth opportunities for more than a hundred countries worldwide.</span>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Atlas of Economic complexity</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Current version: <a href="https://github.com/cid-harvard/atlas-economic-complexity">{{ VERSION }}</a>.
        <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0 display:block;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
        <p style="clear:both"></p>
        <a style=" margin-left:150px; float:left;" href="http://www.hks.harvard.edu/centers/cid"><img src="media/img/all/logo_cid.png" alt="Center for International Development Logo"/></a>
        <div class="language_select" style="float:right; margin-right:150px;">
          <div class="text">
            Language:
          </div>
          <select>
            {% for lang in supported_langs %}
            <option style="" value="{{lang.0.code}}" {% if lang.0.code == LANGUAGE_CODE %} selected="selected" {% endif %}>{{lang.0.name_local}}</option>
            {% endfor %}
          </select> 
        </div>
      </div>
    </footer>
  </div>   
</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}