{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/about/support/">Support & Founding Members</a></li>
      <li><a href="/about/research/">Research</a></li>
      <li><a href="/about/glossary/">Glossary</a></li>
      <li><a href="/about/team/">The Team</a></li>
      <li><a href="/about/data/">Data</a></li>
      <li><a href="/about/permissions/">Permissions</a></li>
      <li><a href="/about/press/" class="active">Press</a></li>
    </ul>
  </nav>
</div>

<div id="content">

<div class="app_title" id="title"><h2>Press</h2></div>
  <br><br><br><br>

  <p><a href="http://www.ft.com/intl/cms/s/2/3fc2975c-4703-11e1-bc5f-00144feabdc0.html">Financial Times</a></p>
  <p><a href="http://www.nytimes.com/interactive/2011/05/15/magazine/art-of-economic-complexity.html">New York Times Magazine</a></p>

  <p><a href="http://blogs.wsj.com/economics/2011/10/26/complexity-predicts-nations-future-growth/">Wall Street Journal</a></p>
  <p><a href="http://www.washingtonpost.com/blogs/wonkblog/post/is-complexity-the-key-to-economic-growth/2011/10/26/gIQAcCTYJM_blog.html">The Washington Post</a></p>
  <p><a href="http://www.economist.com/blogs/freeexchange/2011/10/building-blocks-economic-growth">The Economist</a></p>
  <p><a href="http://www.abc.net.au/worldtoday/content/2011/s3349175.htm">ABC News</a></p>
  <p><a href="http://www.good.is/posts/global-economics-gets-a-facelift-the-atlas-of-economic-complexity">Good Business</a></p>
  <p><a href="http://phys.org/news/2011-10-country-wealth-knowledge.html">PhysOrg</a></p>


</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}