{% extends "template.html" %}

{% block page_title %}About{% endblock %}
{% block heading_title %}Privacy Policy {% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="about/">About</a></li>
      <li><a href="about/support/">Support & Founding Members</a></li>
      <li><a href="about/research/">Research</a></li>
      <li><a href="about/glossary/">Glossary</a></li>
      <li><a href="about/data/"class="active">Data & Sharing</a>
        <ul>
          <li><a href="about/data/#notes">Notes</a></li>
          <li><a href="about/data/#contributing">Re-using and Contributing</a></li>

          <li><a href="about/privacy/">Privacy Policy</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

<div id="content">


<h4>Privacy Statement for The Atlas online</h4>

<p>The following discloses our information gathering and dissemination practices for The Atlas of Economic Complexity’s web site (<a href="http://www.atlas.cid.harvard.edu/">http://www.atlas.cid.harvard.edu/</a>):


<h4>Information gathering</h4>

<p>IP (Internet Protocol) addresses are used to help diagnose problems with our servers and to administer our website. Cookies are used to gather session information such as the following: demographic information, time spent on site, keywords searched, and entry/exit pages. We do not link IP addresses to personally identifiable information. This means that user sessions will be tracked, but users will remain anonymous.</p>

<h4>Use of information</h4>

<p>The Atlas website staff uses the above information to generate aggregate site reports that inform us as we work to improve our site architecture and content to better meet user needs. Web server logs are retained on a temporary basis and then deleted completely from our systems.</p>

<h4>Contact</h4>

<p>If you have any questions about this privacy statement, the practices of this site, or your interactions with this site, contact The Center for International Development at 617-495-4112 or <a href="mailto:cid@hks.harvard.edu">cid@hks.harvard.edu</a>.</p>



</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}