{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block heading_title %}Research{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="about/">About</a></li>
      <li><a href="about/support/">Support & Founding Members</a></li>

      <li>
        <a href="about/research/" class="active">Research</a>
        <ul>
          <li><a href="about/research/">The Growth Lab</a>
          <li><a href="about/research/#atlas">The Atlas of Economic Complexity</a>
          </li>
        </ul>
      </li>
      <li><a href="about/glossary/">Glossary</a></li>
      <li><a href="about/data/">Data & Sharing</a></li>
    </ul>
  </nav>
</div>

<div id="content">

  <!-- <a name="growthlab"></a> -->
  <h3>The Growth Lab</h3>
  
  <p>The Growth Lab is an academic research program run out of Harvard’s Center for International Development (CID). The Growth Lab explores the mysteries of economic growth—asking why certain countries grow when others do not, and why poor countries are unable to achieve sustained growth. Through its research, the Growth Lab identifies growth constraints and designs solutions to address them.</p>

  <p>The Growth Lab created The Atlas online as an interactive tool to visualize and disseminate its research on <a href="about/glossary/#economiccomplexity">Economic Complexity</a>. In pursuit of its goals, the Growth Lab has built theories based on two sets of ideas: <b>Economic Complexity</b> and <b>Growth Diagnostics</b>. <b>Economic Complexity</b> argues that development involves not just the increase of output in existing production, but also the increase in the diversity and complexity of what is produced. <b>Growth Diagnostics</b> identifies an economy’s growth constraints and suggests that countries adopt a diagnostic approach when tackling difficulties, as opposed to a set of global best practices. The Growth Lab’s theories are transforming the way in which the development community and major international institutions understand the growth process and industrial development.</p>

  <p>In addition to The Atlas online, the Growth Lab has developed the <a href="http://www.atlas.cid.harvard.edu/aidxp">Aid Explorer</a>, an online tool that facilitates better global aid coordination. Where there once were only a handful of development agencies, thousands have now emerged. The system that connects donor agencies, recipient countries and development challenges is extremely complex and cannot be managed with a top-down approach. The Aid Explorer relates any aid organization or development issue with a specific country and determines whether the agencies with an interest in that particular country also have an interest in the issue. Users can also rank organizations in terms of how well they match the priorities of the countries they work with.</p>

  <p>Additional academic research completed by the Growth Lab can be found <a href="http://www.hks.harvard.edu/centers/cid/programs/growth-lab/growth-research/publications">here</a>.</p> 

  <p>If you would like to subscribe to the CID’s newsletter, please click <a href="http://www.hks.harvard.edu/centers/cid/news-events/subscribe-to-cid%22s-email-list">here</a>.</p>

  <a name="atlas"></a>
  <h4>The Atlas of Economic Complexity: Mapping Paths to Prosperity</h3>

  <p><i>The Atlas of Economic Complexity: Mapping Paths to Prosperity</i> is a publication authored by Ricardo Hausmann and Cesar A. Hidalgo. The study’s authors applied the theory of <a href="about/glossary/#economiccomplexity">Economic Complexity</a> to rank 128 countries in terms of production diversity and to project each country’s likelihood for growth by 2020. <i>The Atlas of Economic Complexity</i> includes a visual “product map” for each country, showing its particular export basket, how those exports correspond to its economic complexity ranking and offers predictions for national growth trajectories and possibilities for product diversification.</p>

  <p><a href="http://atlas.cid.harvard.edu/media/atlas/pdf/HarvardMIT_AtlasOfEconomicComplexity_Part_I.pdf">Download</a> Part 1 of the latest edition of The Atlas of Economic Complexity: Mapping Paths to Prosperity with new 2011 data.</p>

  <p>For more information on the latest edition of the book go to:</p>

  <p><a href="http://mitpress.mit.edu/books/atlas-economic-complexity">http://mitpress.mit.edu/books/atlas-economic-complexity</a></p>

</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}