{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/about/support/">Support & Founding Members</a></li>

      <li>
        <a href="/about/research/" class="active">Research</a>
        <ul>
          <li><a href="/about/research/#growthlab">The Growth Lab</a>
            <ul>
              <li><a href="/about/research/#additional">Additional Research</a></li>
            </ul>
          <li><a href="/about/research/#atlas">The Atlas of Economic Complexity</a>
          </li>
        </ul>
      </li>
      <li><a href="/about/glossary/">Glossary</a></li>
      <li><a href="/about/team/">The Team</a></li>
      <li><a href="/about/data/">Data</a></li>
      <li><a href="/about/permissions/">Permissions</a></li>
      <li><a href="/about/press/">Press</a></li>
    </ul>
  </nav>
</div>


<div id="content">

<div class="app_title" id="title"><h2>Research</h2></div>
<br><br><br><br>

  <a name="growthlab"></a>
  <h3>The Growth Lab</h3>
  
  <p>The Growth Lab at CID is committed to solving the mysteries of growth and to changing how policymakers design and implement growth strategies. The Growth Lab’s innovative growth theories (Growth Diagnostics and Economic Complexity) are transforming the way in which the development community understands the growth process, and revolutionizing how major international institutions explore aid, growth, and industrial development.</p>

  <a name="additionnal"></a>
  <h3>Additional Research</h3>

  <p>Additional research on Economic Complexity and Growth Diagnostics can be found <a href="http://www.hks.harvard.edu/centers/cid/programs/growth-lab/growth-research/publications">here</a>. </p>

  <a name="atlas"></a>
  <h3>The Atlas of Economic Complexity: Mapping Paths to Prosperity</h3>
  
  <p>The Growth Lab applied its theories of Economic Complexity to compile an extensive dataset ranking 128 countries in terms of economic complexity and their likelihood for growth by 2020.  The Growth Lab published these rankings and country product maps in The Atlas of Economic Complexity: Mapping Paths to Prosperity, a breakthrough study that offers innovative maps of national growth trajectories and analyses for countries to consult when considering their own paths to national prosperity. This study was led by Ricardo Hausmann, director of CID, and Cesar A. Hidalgo, Asahi Broadcast Corporation Career Development Professor at MIT.</p>


</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}