{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block heading_title %}Research{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li><a href="{{HTTP_HOST}}about/">About</a></li>
      <li><a href="{{HTTP_HOST}}about/support/">Support & Founding Members</a></li>

      <li>
        <a href="{{HTTP_HOST}}about/research/" class="active">Research</a>
        <ul>
          <li><a href="{{HTTP_HOST}}about/research/#growthlab">The Growth Lab</a>
          <li><a href="/about/research/#atlas">The Atlas of Economic Complexity</a>
          </li>
        </ul>
      </li>
      <li><a href="{{HTTP_HOST}}about/glossary/">Glossary</a></li>
      <li><a href="{{HTTP_HOST}}about/data/">Data & Sharing</a></li>
      <li><a href="{{HTTP_HOST}}about/permissions/">Permissions</a></li>
    </ul>
  </nav>
</div>


<div id="content">

  <a name="growthlab"></a>
  <h3>The Growth Lab</h3>
  
  <p>The Growth Lab is an academic research program run out of Harvard’s Center for International Development (CID). The Growth Lab explores the mysteries of economic growth—asking why certain countries grow when others do not, and why poor countries are unable to achieve sustained growth. Through its research, the Growth Lab identifies growth constraints and designs solutions to address them.</p>

  <p>The Growth Lab created The Atlas online as an interactive tool to visualize and disseminate its research on Economic Complexity. In pursuit of its goals, the Growth Lab has built theories based on two sets of ideas: Economic Complexity and Growth Diagnostics. Economic Complexity argues that development involves not just the increase of output in existing production, but also the increase in the diversity and complexity of what is produced. Growth Diagnostics identifies an economy’s growth constraints and suggests that countries adopt a diagnostic approach when tackling difficulties, as opposed to a set of global best practices. The Growth Lab’s theories are transforming the way in which the development community and major international institutions understand the growth process and industrial development.</p>

  <p>In addition to The Atlas online, the Growth Lab has developed the Aid Explorer (+link to website), an online tool that facilitates better global aid coordination. Where there once were only a handful of development agencies, thousands have now emerged. The system that connects donor agencies, recipient countries and development challenges is extremely complex and cannot be managed with a top-down approach. The Aid Explorer relates any aid organization or development issue with a specific country and determines whether the agencies with an interest in that particular country also have an interest in the issue. Users can also rank organizations in terms of how well they match the priorities of the countries they work with.</p>

  <p>Additional academic research completed by the Growth Lab can be found here.</p> 

  <p>If you would like to subscribe to the CID’s newsletter, please click here.</p>


  <a name="atla"></a>
  <h4>The Atlas of Economic Complexity: Mapping Paths to Prosperity</h4>

  <p>Additional research on Economic Complexity and Growth Diagnostics can be found <a href="http://www.hks.harvard.edu/centers/cid/programs/growth-lab/growth-research/publications">here</a>. </p>

  <a name="atlas"></a>
  <h3>The Atlas of Economic Complexity: Mapping Paths to Prosperity</h3>
  
  <p>The Growth Lab applied its theories of Economic Complexity to compile an extensive dataset ranking 128 countries in terms of economic complexity and their likelihood for growth by 2020.  The Growth Lab published these rankings and country product maps in The Atlas of Economic Complexity: Mapping Paths to Prosperity, a breakthrough study that offers innovative maps of national growth trajectories and analyses for countries to consult when considering their own paths to national prosperity. This study was led by Ricardo Hausmann, director of CID, and Cesar A. Hidalgo, Asahi Broadcast Corporation Career Development Professor at MIT.</p>


</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}