{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li>
        <a href="/about/">About</a>
      </li>
      <li>
        <a href="/about/support/" class="active">Support & Founding Members</a>
        <ul>
          <li><a href="/about/support/#investecassetmanagement">Investec Asset Management</a></li>
          <li><a href="/about/support/#mindteck">Mindteck</a></li>
          <li><a href="/about/support/#santadomingofamily">Santa Domingo Family</a></li>
        </ul>
      </li>
      <li><a href="/about/research/">Research</a></li>
      <li><a href="/about/glossary/">Glossary</a></li>
      <li><a href="/about/team/">The Team</a></li>
      <li><a href="/about/data/">Data</a></li>
      <li><a href="/about/permissions/">Permissions</a></li>
      <li><a href="/about/press/">Press</a></li>
    </ul>
  </nav>
</div>

<div id="content">

<div class="app_title" id="title"><h2>Support & Founding Members</h2></div>
<br><br><br><br>

  
  <p>The ongoing development and evolution of The Observatory is made possible by the Founding Members of The Observatory. The Founding Members are a group of leading institutions that believe in the vision for The Observatory and provide funding and support that is instrumental to the growth of this public good. The Founding Members collaborate with the Center for International Development, offering feedback on the functionalities of The Observatory and are provided with training to maximize the utility of the tool within their organizations. Funding from the Founding Members facilitates the continued usability, relevance and expansion of The Observatory.</p>

  <p>Our Founding Members include:</p>

  <a name="origin"></a>
  <h3>Investec Asset Management</h3>
  
  <p>Investec Asset Management has grown from domestic roots in South Africa into an international asset management firm with $105bn in assets under management. Investec Asset Management is committed to studying and understanding the drivers of sustained economic growth. Through its Investment Institute, the firm is funding the development of The Observatory of Economic Complexity. In addition to its role as a Founding Member of The Observatory, the firm funds CID’s groundbreaking growth research into the role of productive knowledge as a primary driver of growth.</p>


  <p>The Observatory has been a result of the contribution and hard work of many individuals. Additional help in the development of the platform was provided by Ali Almossawi, Crystal Noel, David Landry, Sarah Chung and Eric Franco. Original versions of the datasets were provided by Muhammed Yildirim, Sebastian Bustos, Michele Coscia and Juan Jimenez. The Observatory is currently being managed at CID.</p>

  <a name="cid"></a>
  <h3>Mindteck</h3>

  <p>Through the generous support of Iqbal Mamdani, Mindteck donates critical technical advisory and development services to The Observatory of Economic Complexity. Mindteck is a global product engineering and IT services company with US headquarters in Enola, PA. Enhancements to The Observatory supported by Mindteck include infrastructure upgrades, beta application testing, improved user interface, a technology roadmap and the development of the “Build your Observa-story” feature.</p>

  <a name="macroconnections"></a>
  <h3>Santa Domingo Family</h3>

  <p>A generous gift from the Santo Domingo family provides vital support for The Observatory of Economic Complexity and the Growth Lab. Alejandro Santo Domingo and his family share CID's mission of dramatically expanding access to opportunity and empowering the underserved. The Santo Domingo Family believes that businesses play a vital role in creating vibrant and healthy communities. A Harvard College alumnus, Alejandro Santo Domingo is a member of the Board of SABMiller and manages the Santo Domingo Group, serving as Chairman of Grupo Empresarial Bavaria S.A., a privately-owned subsidiary of SABMiller, and acting as the Managing Director of Quadrant Capital Advisors, Inc. in New York City. An active philanthropist, he is a Member of the Board of the Fundación Mario Santo Domingo, and serves as President of the Board of ALAS Foundation and a Trustee of the Metropolitan Museum of Art.</p>


</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}