{% extends "template.html" %}

{% block page_title %}About{% endblock %}

{% block heading_title %}Support & Founding Members{% endblock %}

{% block css %}{% endblock %}

{% block content %}
<!-- the left pane -->
<div id="sidebar">
  <nav role="navigation">
    <ul>
      <li>
        <a href="about/">About</a>
      </li>
      <li>
        <a href="about/support/" class="active">Support & Founding Members</a>
        <ul>
          <li><a href="about/support/#santadomingofamily">Alejandro Santo Domingo & Family</a></li>
          <li><a href="about/support/#investec">Investec Asset Management</a></li>
          <li><a href="about/support/#caf">CAF Development Bank of Latin America</a></li>
          <li><a href="about/support/#icss">International Centre for Sports Security</a></li>
          <li><a href="about/support/#mindteck">Mindteck</a></li>
          <li><a href="about/support/#usitc">United States International Trade Commission</a></li>
        </ul>
      </li>
      <li><a href="about/research/">Research</a></li>
      <li><a href="about/glossary/">Glossary</a></li>
      <li><a href="about/data/">Data & Sharing</a></li>
    </ul>
  </nav>
</div>

<div id="content">

  <p>The ongoing development and evolution of The Atlas online is made possible by the Founding Members. The Founding Members are a group of leading institutions that believe in the vision of The Atlas online and provide funding and support instrumental to the development and maintenance of this public good. The Founding Members are provided with training to maximize the utility of The Atlas online within their organizations, and they collaborate with the Center for International Development (CID) by offering feedback on the tool’s functionality.</p>

  <p>Our Founding Members include:</p>

  <a name="santadomingofamily"></a>
  <h3>Alejandro Santo Domingo & Family</h3>

  <p>A generous gift from Alejandro Santo Domingo and his family provides vital support to The Atlas online and the Growth Lab. Alejandro Santo Domingo and his family share CID's mission of empowering the underserved, and believe that businesses play a vital role in creating vibrant and healthy communities. A Harvard College alumnus, Alejandro Santo Domingo is a member of the Board of SABMiller, manages the Santo Domingo Group, serves as Chairman of Grupo Empresarial Bavaria S.A., a privately owned subsidiary of SABMiller, and acts as Managing Director of Quadrant Capital Advisors, Inc. in New York. An active philanthropist, Alejandro is a Member of the Board of the Fundación Mario Santo Domingo, serves as President of the Board of ALAS Foundation and is a Trustee of the Metropolitan Museum of Art.</p>

  <a name="investec"></a>
  <h3>Investec Asset Management</h3>
  
  <p>Investec Asset Management has grown from domestic roots in South Africa into an international asset management firm with $105 billion in assets under management. The firm is one of the few asset managers to have made the transition from an emerging market to a global stage and has done so largely through organic growth. This unique heritage gives Investec Asset Management the freedom to think differently about trends shaping our global economy and investment landscape.</p>

  <p>Investec Asset Management is committed to studying and understanding the drivers of sustained economic growth. Through its Investment Institute, the firm is funding the development of The Atlas online. In addition to its role as a Founding Member, the firm funds CID’s groundbreaking growth research on the role of productive knowledge as a primary driver of growth.  The insights from this research provide a new source of data for government policy making and for identifying long-term investment prospects.</p>

  <a name="caf"></a>
  <h3>CAF Development Bank of Latin America</h3>
  
  <p>CAF Development Bank of Latin America currently consists of eighteen countries in Latin America, the Caribbean and Europe, as well as fourteen private banks from the Andean region. CAF promotes sustainable development and regional integration through efficient resource mobilization for the timely delivery of multiple, high added value financial services to public and private clients in their shareholder countries. The Atlas online helps CAF identify the resource capabilities of countries and regions and determine future opportunities for sustainable development.</p>

  <a name="icss"></a>
  <h3>International Centre for Sports Security</h3>

  <p>The International Centre for Sports Security (ICSS) is a groundbreaking organization whose mission is to improve security, safety and integrity in sport by addressing real issues and providing world-leading services, skills, networks and knowledge. The ICSS is a global center with its headquarters in Doha, Qatar. The ICSS’s clients include key stakeholders such as event organizers, governments and bidding nations and cities, infrastructure owners, sport associations, leagues and clubs. The ICSS works in security and risk advisory, training, research, knowledge gathering and sustainable sport sector development and all aspects across sport integrity.</p>

  <a name="mindteck"></a>
  <h3>Mindteck</h3>

  <p>Through the generous support of Iqbal Mamdani, Mindteck donates critical technical advisory and development services to The Atlas online. Mindteck is a global product engineering and IT services company with US headquarters in Enola, PA. Enhancements supported by Mindteck include infrastructure upgrades, beta application testing, improved user interface, a technology roadmap and the development of the “Build your Observa-story” feature.</p>

  <a name="usitc"></a>
  <h3>United States International Trade Commission</h3>

  <p>The United States International Trade Commission (USTR) is an independent, quasijudicial Federal agency with broad investigative responsibilities on matters of trade. The mission of the Commission is to administer US trade remedy law, provide the President, USTR and Congress with independent analysis and support on matters of tariffs, international trade, and U.S. competitiveness and maintain the Harmonized Tariff Schedule of the United States. The Atlas online provides USTR with invaluable data and research on international trade, U.S. competitiveness and tariffs.</p>


  <p><i>If you are interested in becoming a Founding Member of The Atlas online, please contact Andrea Carranza, Assistant Director, at 617.384.5734, or at <a href="mailto:andrea_carranza@hks.harvard.edu">andrea_carranza@hks.harvard.edu</a></i></p>

</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}