*.pyc
*.svn
*.svn-base
.picasa.ini
.ropeproject/
.DS_Store

#sample data
media/data/*.json
media/data/*.store

#machine-specific settings
django_files/atlas/settings_local.py
#virtualenv
env/

*.store
