
<script> 
/**
 * Initiate certain events on document.ready event
 */
$(function() {
	sessionStorage.clear();
	
	$('#dialog-modal-createStory').modal({
		show: false,
		keyboard: false
		});

	$('#dialog-modal-createChapter').modal({
		show: false,
		keyboard: false
		});
	$('#dialog-modal-endStory').modal({
		show: false,
		keyboard: false
		});
	$('#storyUnderCreation').modal({
		show: false,
		keyboard: false
		});
	$('#dialog-modal-saveStory').modal({
		show: false,
		keyboard: false
		});
	toastr.options = {
			  "closeButton": false,
			  "debug": false,
			  "positionClass": "toast-bottom-right",
			  "onclick": null,
			  "showDuration": "300",
			  "hideDuration": "1000",
			  "timeOut": "5000",
			  "extendedTimeOut": "1000",
			  "showEasing": "swing",
			  "hideEasing": "linear",
			  "showMethod": "fadeIn",
			  "hideMethod": "fadeOut"
			}

	$("#BrowsePrev").click(function(){
		$.ajax({
			'type': 'GET',
			'url': '/browseStoryPrev/',
			'contentType': 'application/json',
			'data': {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			'success': function(data) {
				var newDoc = document.open("text/html", "replace");
				newDoc.write(data);
				newDoc.close();
				},
			'error': function(xhr, textStatus, errorThrown) {
				alert("Please report this error: "+textStatus);
			}
		});
	});
	$("#BrowseNext").click(function(){
		$.ajax({
			'type': 'GET',
			'url': '/browseStoryNext/',
			'contentType': 'application/json',
			'data': {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			'success': function(data) {
				var newDoc = document.open("text/html", "replace");
				newDoc.write(data);
				newDoc.close();
			},
			'error': function(xhr, textStatus, errorThrown) {
				alert("Please report this error: "+textStatus);
			}
		});
	});
	$("#likeImage").click(function(){
		$.ajax({
			'type': 'GET',
			'url': '/likeCount/',
			'contentType': 'application/json',
			'data': {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
			},
			'success': function(data) {
				$("#likeImage").addClass("disabled");
				$("#likeCount").text((JSON.parse(data).likecount) +" "+"Likes"  );
			},
			'error': function(xhr, textStatus, errorThrown) {
				alert("Please report this error: "+textStatus);
			}
		});
	});
});

  </script> 
{% if isbrowsemode %}
<script>
if(localStorage.getItem("chapterCount")==null)
{
localStorage.setItem("chapterCount","1");
}	
  var noOfChapters={{NoOfChapter}};
  $("#timeline").hide();
  $("#app_pane").hide();
  $("#tool_pane").hide();
  $("#content").css("width","100%");
  $("#viz").css("width","100%");
  $('.app #loader ').css("margin","auto");
  {% if app_name == "map" %}
  {
	  $("#viz").css("padding-left","20%"); 
  }
  {% endif %}
  if(noOfChapters==1)
	  {
	  $('#BrowsePrev').addClass("disabled");
	  $('#BrowseNext').addClass("disabled");
	  $("#likeImage").show();
	  $("#likeCount").show();

	  }
  else if(parseInt(localStorage.getItem("chapterCount"))==noOfChapters)
	  {
	  $('#BrowsePrev').removeClass("disabled");
	  $('#BrowseNext').addClass("disabled");
	  }
  else if(parseInt(localStorage.getItem("chapterCount"))==1)
	  {
	  $("#likeImage").show();
	  $("#likeCount").show();
	  $('#BrowsePrev').addClass("disabled");
	  $('#BrowseNext').removeClass("disabled");
	  }
  {% if likeBtnEnable %}
	{
	$("#likeImage").removeClass("disabled");
	}
	{% else %}
	{
	$("#likeImage").addClass("disabled");
	}
	{% endif %}
</script>
{% endif %}

