{% load i18n %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>The Observatory | Browse Stories</title>
  <meta name="description" content="Networks in Macro Economics">
  <meta name="author" content="Alexander Simoes">
  <!-- Necessary for google to crawl the site, since it is purely ajax based.
        When the crawler reaches the page it will request the current URL plus
        the additional URL query parameter _escaped_fragment_= -->
  <meta name="fragment" content="!" charset=utf-8>
  <link rel="shortcut icon" type="image/x-icon" href="/media/img/favicon.ico">
  
  <!-- Load non-standard fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css' />
  
  <link rel="stylesheet" href="/media/css/normalize.css">
  <link rel="stylesheet" href="/media/js/libs/bootstrap/css/bootstrap.css"/>
  <link rel="stylesheet" href="/media/css/style.css">
  <link rel="stylesheet" href="/media/js/libs/chosen/chosen.css" />
  <link rel="stylesheet" href="/media/js/libs/tipsy/tipsy.css" />
  <link rel="stylesheet" href="/media/js/libs/bootstrap/css/bootstrap-icon.css" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  
 
  
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body class="app">
  {% if alert %}
  <div class="alert">
    <div>
      {% if alert.title %}
      <h4>{{alert.title}}</h4>
      {% endif %}
      {% if alert.text %}{{alert.text|safe}}{% endif %}
    </div>
  </div>
  {% endif %}
  {% if warning %}
  <div class="warning">
    <div>
      {% if warning.title %}
      <h4>{{warning.title}}</h4>
      {% endif %}
      {% if warning.text %}{{warning.text|safe}}{% endif %}
    </div>
  </div>
  {% endif %}
  <div id="container"> 
    <header>
      <div class="logo">
        <h1><a href="/" title="Home"><img src="/media/img/all/logo_observatory_sm.png" alt="The Observatory of Economic Complexity" /></a></h1>
      </div>
      <nav>
        <ul>
          <li><a href="/explore">Explore</a></li>
          <li><a href="/country/usa/">Profiles</a></li>
          <li><a href="/book">Book</a></li>
          <li><a href="/rankings">Rankings</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/api">API</a></li>
        </ul>
      </nav> 
      <div class="language_select">
        <div class="text">
          Language:
        </div>
        <select >
          {% for lang in supported_langs %}
          <option style="width: 70px; padding-right: 26px;" value="{{lang.0.code}}" {% if lang.0.code == LANGUAGE_CODE %} selected="selected" {% endif %}>{{lang.0.name_local}}</option>
          {% endfor %}
        </select>
      </div>
      <br class="clear">
    </header>
    {% if  userId  %}
      <div id="userSession">
       <button id="logoutBtn"  onclick="location.href='/logOut/'">Logout</button>	
       <p id="loggedInUser">Hello {{ userName }}</p> 
      </div>
    {% endif %}
    <div style="clear:both"></div>
    <div id="browseMain" role="main">
		<div id="browseTitle">
			<h1 align="center">Browse Stories</h1>
		</div>
		<div id="browseStories">
			<ul>
				<li><a href="#myStories">Mine</a></li>
				<li><a href="#popular">Popular</a></li>
				<li><a href="#featured">Featured</a></li>
				<li><a href="#published">All Stories</a></li>
			</ul>
		<div id="myStories" class="storyList">
			<form name="patron" method="post" class="sform">
				{% csrf_token %} <br /> 
				<select name="Stories" id="Stories" class="retriveDropList" size="10" onChange="selectOption(this)"> 
				{% for story in mineStory %}
					<option value="{{story.story_id}}" data-publish="{{story.published}}" data-featured="{{story.featured}}"data-chaptercount="{{story.number_of_chapters}}">{{story.story_name}}</option> 
				{% endfor %}
				</select>
				<div class="buttonSection">
					<input type="Submit" class="retriveButton viewButton disabled" value="View" id="viewButton" onclick=""></input> 
					<input type="Submit" class="retriveButton" value="Edit" onClick="this.form.action='{% url "observatory.views.editStoryForm" %}'"></input> 
					<input type="button" class="retriveButton" value="Publish" id="publishButton"></input> 
					{% for story in checkAdmin %} 
					{% if story.isadmin %}
					<input type="button" class="retriveButton" value="Featured" id="featureButton"></input> 
					{% endif %} 
					{% endfor %} 
					<input type="button"class="retriveButton" value="Delete" id="deleteButton"></input>
				</div>
			</form>
		</div>
		<div id="popular" class="storyList">
			<form name="patron" method="post" class="sform">
				{% csrf_token %} 
				<select name="Stories" id="Stories" class="retriveDropList" size="10" onChange="selectOption(this)"> 
					{% for story in popularStory %}
					<option value="{{story.story_id}}" data-chaptercount="{{story.number_of_chapters}}">{{story.story_name}}</option> 
					{% endfor %}
				</select>
				<div class="buttonSection">
					<input type="Submit" class="retriveButton viewButton disabled" value="View" style="margin-top: 20%;" onclick=""></input>
				</div>
		 	</form>
		</div>
		<div id="featured" class="storyList">
			<form name="patron" method="post" class="sform">
				{% csrf_token %} 
				<select name="Stories" id="Stories" class="retriveDropList" size="10" onChange="selectOption(this)"> 
					{% for story in featureStory %}
					<option value="{{story.story_id}}" data-chaptercount="{{story.number_of_chapters}}">{{story.story_name}}</option>
					{% endfor %}
				</select>
						<div class="buttonSection">
							<input type="Submit" class="retriveButton viewButton disabled" value="View" style="margin-top: 20%;" onclick=""></input>
						</div>
					</form>
				</div>
				<div id="published" class="storyList">
					<form name="patron" method="post" class="sform">
						{% csrf_token %} 
						<select name="Stories" id="Stories" class="retriveDropList" size="10" onChange="selectOption(this)">
							{% for story in publishStory %}
							<option value="{{story.story_id}}" data-chaptercount="{{story.number_of_chapters}}">{{story.story_name}}</option> 
							{% endfor %}
						</select>
						<div class="buttonSection">
							<input type="Submit" class="retriveButton viewButton disabled" value="View" style="margin-top: 20%;" onclick=""></input>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END #main -->
    <footer>
      <p>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Observatory of Economic complexity</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/" property="cc:attributionName" rel="cc:attributionURL">Alexander Simoes</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br />Permissions beyond the scope of this license may be available at <a xmlns:cc="http://creativecommons.org/ns#" href="http://atlas.media.mit.edu/about/permissions/" rel="cc:morePermissions">http://atlas.media.mit.edu/about/permissions/</a>.
        <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
      </p>
      <p>
        <img src="/media/img/all/logo_macro.png" alt="MIT MacroConnections Logo" />
        <img src="/media/img/all/logo_cid.png" alt="Center for International Development Logo" />		
      </p>
    </footer>
    
    <form class="download" method="POST" action="/download/">
      {% csrf_token %}
      <input type="hidden" name="url" value="" />
      <input type="hidden" name="title" value="" />
      <input type="hidden" name="format" value="svg" />
      <input type="hidden" name="content" value="" />
    </form>
    <canvas style="display: none;" id="canvas" width="640px" height="500px"></canvas>
    
   
    
  </div> <!-- END #container -->

  <!-- The JavaScript -->
  <!-- Libraries -->
  <script src="/media/js/libs/jquery/jquery-1.7.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/media/js/libs/tipsy/tipsy.jquery.js" ></script>
  <script src="/media/js/libs/chosen/chosen.jquery.min.js" ></script>
  <script src="/media/js/libs/bootstrap/js/bootstrap.js"></script>
  <script src="/media/js/explore/createStory.js"></script> 
  
 <script> 
 

  // google analytics
  var _gaq=[['_setAccount','UA-22403682-3'],['_trackPageview']]; 
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  
  // variables from server
  var app,
    app_types = ["tree_map", "stacked", "product_space", "pie_scatter", "map"],
    app_type ="{{app_type}}",
    warning = "{{warning}}",
    is_alert = "{{alert}}",
    api_uri = "{{api_uri}}",
    year =  "{{year}}",
    app_name = "{{app_name}}",
    years_available = "{{years_available|safe}}",
    trade_flow = "{{trade_flow}}",
    country1 = "{{country1}}",
    country2 = "{{country2}}",
    product = "{{product}}",
    item_type = "{{item_type}}",
    lang= "{{lang}}",
    embed=false,
		redesign_api_uri = "{{redesign_api_uri}}",
    year_start = "{{year_start}}",
    year_end = "{{year_end}}",
    product_code = "{{product_code}}",
    prod_class = "{{prod_class}}";
  
  // Use chosen plugin to make dropdowns look fancy
  $(".dropdown_container select").chosen()
  $(".nesting select").chosen()
  // language select dropdown
  $(".language_select select").chosen();
  $(".language_select .chzn-search").hide();
  $(".language_select select").chosen().change(function(){
    // set session data to new language
    var language = $(this).val();
    window.location = "/set_language/"+language+"/";
  });
  
  // set active link in top nav for current page
 var current_page = "explore";
  $("nav ul a").each(function(i, el){
    if($(el).text().toLowerCase() == current_page){
      $(el).addClass("current");
    }
  })

 $(document).ready(function() {

	$("#popular").show();
	$("#featured").show();
	$( "#browseStories" ).tabs(); 
	disableTabs();
	
  $("#deleteButton").click(function(){
		storyId=$("#Stories").children('option:selected').val();
		$.ajax({
			'type': 'POST',
			'url': '/deleteStory/',
			'contentType': 'application/json',
			'data': {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				'storyId':storyId,
			},
			'success': function(data) {
			var newDoc = document.open("text/html", "replace");
			newDoc.write(data);
			newDoc.close();
			/*$("#browseStories").tabs("refresh");*/
			},
			'error': function(xhr, textStatus, errorThrown) {
				alert("error")
			}
		});
	});
 $("#featureButton").click(function(){
		storyId=$("#Stories").children('option:selected').val();
		$.ajax({
			'type': 'POST',
			'url': '/featured/',
			'data': {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				'storyId':storyId,
			},
			'success': function(data) {
			var newDoc = document.open("text/html", "replace");
			newDoc.write(data);
			newDoc.close();
			},
			'error': function(xhr, textStatus, errorThrown) {
			}
		});
		
	});
 $("#publishButton").click(function(){
		storyId=$("#Stories").children('option:selected').val();
		$.ajax({
			'type': 'POST',
			'url': '/published/',
			'data': {
				'csrfmiddlewaretoken': '{{ csrf_token }}',
				'storyId':storyId,
			},
			'success': function(data) {
			var newDoc = document.open("text/html", "replace");
			newDoc.write(data);
			newDoc.close();
			},
			'error': function(xhr, textStatus, errorThrown) {
			alert("error");
			}
		});
	});
 $('#dialog-modal-browseStory').modal({
		show: false,
		keyboard: false
		});
 
 $('#browseStories').tabs({
	beforeActivate: function(event ,ui){
		var userId={{ userId }};
         if( ui.newTab.index()==0)
        	 {
        	  if (userId) {  
      		return true;
        	  }
       		 else 
       		{
       		$('#dialog-modal-browseStory').modal('show');
       		  return false;
       			 }
        	 }
         else
        	 {
        	 return true;
        	 }
     } 
});

	
	
});
		
  function selectOption(option)
  {
	var storyId=$(option).val();
	var  viewhref="this.form.action='/stories/view/"+storyId+"/'";
	$(".viewButton").attr('onclick', viewhref);
		if($(option).children('option:selected').data('publish')=="True")
			{
			$("#publishButton").prop('value', 'Unpublish');
			}
		else
			{
			$("#publishButton").prop('value', 'Publish');
			}
		if($(option).children('option:selected').data('featured')=="True")
			{
			$("#featureButton").prop('value',"feature");
			}
		else
			{
			$("#featureButton").prop('value',"Unfeature");
			}
		if($(option).children('option:selected').data('chaptercount')=="0")
		{
		$(".viewButton").addClass("disabled");
		}
	else
		{
		$(".viewButton").removeClass("disabled");
		}
 }
  
  function disableTabs()
  {
	  {% if userId %}	  
	  $( "#browseStories" ).tabs( "option", "active", 0 ); 
	{% else %}
		  $( "#browseStories" ).tabs( "option", "active", 1 ); 
	{% endif %}
		  return false;
  }
  
 
  </script>
</body>
 <div class="modal fade" id="dialog-modal-browseStory" role="dialog" aria-labelledby="Save Story" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login to Browse Stories</h4>
      </div>
       <form  id="saveDataInDB"  method="post" action='/stories/'>
      <div class="modal-body">
        {% csrf_token %}
      <img src="/media/img/sign-in-with-google.png" alt="Login Using Google" onclick="googleLogin()" style="width: 200px; height: 40px;cursor:pointer;margin-left:30px"/>
      <img src="/media/img/sign-in-with-facebook.png" alt="Login Using Facebook" onclick="fbLogin()"style="width: 200px; height: 40px;margin-left: 60px;cursor:pointer"/>
      <input type="hidden" id="socialMediaIntegrationData" name="socialMediaIntegrationData"></input>
      </div>
     </form> 
    </div>
  </div>
</div>

