{% extends "template.html" %}

{% block page_title %}Atlas Book{% endblock %}
{% block heading_title %}The Atlas of Economic Complexity - The Book{% endblock %}

{% block css %}
<style>
blockquote {
	background: #eee;
	font-size: 20px;
	margin: 50px 0;
}
blockquote:before {
	color: #aaa;
	content: "“";
	float: left;
	font-family: georgia, times, serif;
	font-size: 700%;
	margin: -23px 0 0 0;
	line-height: 120px;
}
blockquote p {
	font-size: 14px;
	margin: 0;
}
</style>
{% endblock %}

{% block content %}
<div id="sticky-anchor"></div>
<div id="sticky">
  <div id="sidebar">
    <h3>2014 Edition Downloads</h3>
    <dl class="file_list">
      
      <dd>
        <img src="/media/img/icons/filetype_pdf.png" alt="Download as PDF" />
        <p><a href="http://www.amazon.com/The-Atlas-Economic-Complexity-Prosperity/dp/0262525429" target="_blank">Amazon Book Preview</a></p>
      </dd>
    </dl>
    <h3>2011 Edition Downloads</h3>
    <dl class="file_list">
    	<dt>Full Book</dt>
    	<dd>
    		<img src="/media/img/icons/filetype_pdf.png" alt="Download as PDF" />
    		<p><a href="/media/atlas/pdf/HarvardMIT_AtlasOfEconomicComplexity.pdf">Full Version</a></p>
    		<p>364 pages (85.7 MB)</p>
    	</dd>
    	<dt>In Parts</dt>
    	<dd>
    		<img src="/media/img/icons/filetype_pdf.png" alt="Download as PDF" />
    		<p><a href="/media/atlas/pdf/HarvardMIT_AtlasOfEconomicComplexity_Part_I.pdf">Part I: What, Why and How &amp; Rankings</a></p>
    		<p>91 pages (8.2 MB)</p>
    		<br />
    		<img src="/media/img/icons/filetype_pdf.png" alt="Download as PDF" />
    		<p><a href="/media/atlas/pdf/HarvardMIT_AtlasOfEconomicComplexity_Part_II.pdf">Part II: Country Pages</a></p>
    		<p>271 pages (75.4 MB)</p>
    	</dd>
    </dl>
  </div>
</div>

<div id="aboutContent" style="float:none; margin-left:291px; position: relative; top:43px;">
  <div id="contInner">
  <div class="atlas_book_content">
    <div id="book2014" style="text-align:center;">
      <img style="border:solid 2px #ddd;" src="/media/img/book/2014_atlas.jpg" width="300px">
      <h2>Buy 2014 Edition from the <a href="http://mitpress.mit.edu/books/atlas-economic-complexity">MIT Press</a></h2>
    </div>
    <hr>
    <h1>2011 Edition</h1>
  	<a href="/media/atlas/pdf/HarvardMIT_AtlasOfEconomicComplexity.pdf"><img src="/media/img/book/atlas_free_sample.png" /></a>
  	<a href="/explore"><img src="/media/img/book/atlas_explore.png" /></a>
  </div>
  <img src="/media/img/book/atlas_authors.png" width="700" border="0" />
  <img src="/media/img/book/atlas_logos.png" width="700"/>

  <blockquote>
  	Emphasizing that not all products are the same for development is a significant departure from the establishment
  	<p>&mdash;Changyong Rhee, Chief Economist, Asian Development Bank (Cambridge, MA 2011)</p>
  </blockquote>
  <blockquote>
  	The ECI can play a very important role. It can help identify the role of developing countries
  	<p>&mdash;Justin Lin, Chief Economist, World Bank  (Cambridge, MA 2011)</p>
  </blockquote>
</div>
  <div id="contFooter">
    <footer>
      <div class="footerInner">
        <span>The Atlas of Economic complexity is a powerful interactive tool that enables users to visualize a country's total trade, track how these dynamics change over time and explore growth opportunities for more than a hundred countries worldwide.</span>
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">The Atlas of Economic complexity</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. Current version: <a href="https://github.com/cid-harvard/atlas-economic-complexity">{{ VERSION }}</a>.
        <br />
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0 display:block;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a>
        <p style="clear:both"></p>
        <a style=" margin-left:150px; float:left;" href="http://www.hks.harvard.edu/centers/cid"><img src="media/img/all/logo_cid.png" alt="Center for International Development Logo"/></a>
        <div class="language_select" style="float:right; margin-right:150px;">
          <div class="text">
            Language:
          </div>
          <select>
            {% for lang in supported_langs %}
            <option style="" value="{{lang.0.code}}" {% if lang.0.code == LANGUAGE_CODE %} selected="selected" {% endif %}>{{lang.0.name_local}}</option>
            {% endfor %}
          </select> 
        </div>
      </div>
    </footer>
  </div> 
</div> <!-- END #content div -->
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
