{% extends "template.html" %}
<link rel="stylesheet" href="media/js/libs/bootstrap/css/bootstrap.css"/>
{% block page_title %}{% endblock %}
{% block heading_title %}{% endblock %}

{% block css %} 

<style>

.carousel {
  position: relative;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  height: auto;
  max-width: 100%;
  line-height: 1;
}

.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}

.carousel-inner > .active {
  left: 0;
}

.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .next {
  left: 100%;
}

.carousel-inner > .prev {
  left: -100%;
}

.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}

.carousel-inner > .active.left {
  left: -100%;
}

.carousel-inner > .active.right {
  left: 100%;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
/*  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  opacity: 0.5;
  filter: alpha(opacity=50);
  */
}

.carousel-control.left {
  /*background-color:black;*/
  opacity: 0;
  background-repeat: repeat-x;
  /*
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  */
}

.carousel-control.right {
  right: 0;
  left: auto;
  /*background-color:black;*/
  opacity: 0;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}


.carousel-control:hover,
.carousel-control:focus {
  color: black;
  text-decoration: none;
  opacity: 0.9;

  margin-top:-100px;
  /*
  filter: alpha(opacity=90);
   */
}

.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  font-family: serif;
}

.carousel-control .icon-prev:before {
  content: '\2039';
  font-size: 100px;
  color:gray;
}

.carousel-control .icon-next:before {
  content: '\203a';
  font-size: 100px;
  color:gray;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: lightgray;
}

.carousel-caption {
  position: absolute;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #ffffff;
  text-align: center;
 /* text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);*/
  padding-left:0px;
  margin:0px; background-color: white; opacity:.8; width:300px; left:0px; 
}

.carousel-caption .btn {
  text-shadow: none;
}

@media screen and (min-width: 768px) {
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    font-size: 30px;
  }
  .carousel-caption {
    right: 0%;
    left: 0%;
    width: 100%;
   
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

</style>

<style>
#main #content .didyouknow_container{
	height: 415px;
}
.app_title {
  display: none;
}
#main {
  border: none;
}

#main #content {
  border-radius: 10px;
  margin: 10px 0 0 0;
  width: 998px;
}

#main #content .didyouknow_container{
  height: 450px;
}

#main #content .didyouknow{
  display: none;
}

#main #content .headline {
  background: rgba(255, 255, 255, 0.7);
  margin: 0 0 10px 0;
  overflow: hidden;
  width: 100%;
}
#main #content .headline img.pin{
  float: left;
  margin: 0 25px 0 0;
  width: 80px;
}
#main #content .headline h2{
  font-size: 45px;
  font-weight: 100;
  float: left;
  margin: 0;
  width: 400px;
  text-transform: uppercase;
}

#main #content img.pin{
  float: left;
  margin: 0 10px 0 0;
  width: 80px;
}
#main #content h2{
  font-size: 50px;
  font-weight: 100;
  float: left;
  margin: 0;
  width: 260px;
  text-transform: uppercase;
}

#main #content .text{
  float: left;
  margin: 0 30px 0 0;
  width: 365px;
}
#main #content .text h3{
  line-height: 32px;
  margin: 20px 0 10px 0;
  font-size: 32px;
  font-weight: 100;
}
#main #content .text p{
  font-size: 22px;
}
#main #content .text ul{
  font-size: 18px;
  list-style: circle;
  line-height: 26px;
}
#main #content .app {
  margin: 10px 0 0 0;
}
#main #content .app h3{
  font-size: 28px;
  font-weight: normal;
  margin: 0 0 0 0;
  text-align: center;
}
#main #content .other_apps h3{
  font-size: 28px;
  font-weight: normal;
  margin: 0px 0 10px 0;
}
#main #content .other_apps div{
  float: left;
  margin: 0 27px 15px 0;
}
#main #content .other_apps div a {
  display: inline-block;
  border: solid 2px white;
  padding: 10px;
}
#main #content .other_apps div a:hover{
  border: solid 2px #000;
}
#main #content .other_apps div a.credits:hover{
  border: solid 2px white;
}
#main #content .other_apps div img{
  width: 150px;
}
#main #content .other_apps div:last-child{
  margin: 0;
}

/* New stuff */
.other_apps:hover {
   border: solid 2px gray;
}

.other_apps_first:hover {
  background-color:white ;
   border: solid 2px black;

}


.other_apps {

  border: 1px solid white;
}

.earth_teaser {
  background:url('media/img/home/teaser_earth_fade.png') no-repeat;
  background-size:420px 300px;
  margin-left:9px; 
  border:2px solid white; 
  margin-top:10px;
  width:420px;
  height:300px;
}      


.earth_teaser:hover {
  background:url('media/img/home/teaser_earth.png') no-repeat;
  background-size:420px 300px;
  margin-left:9px; 
  border:2px solid white; 
  margin-top:10px;
  width:420px;
  height:300px;
}      


.products_teaser:hover {
  background:url('media/img/home/teaser_products.png') no-repeat;
  background-size:420px 300px;
  margin-left:9px; 
  border:2px solid white; 
  margin-top:10px;
  width:420px;
  height:300px;
}     

.products_teaser {
  background:url('media/img/home/teaser_products_fade.png') no-repeat;
  background-size:420px 300px;
  margin-left:9px; 
  border:2px solid white; 
  margin-top:10px;
  width:420px;
  height:300px;
}      

</style>

  {% endblock %}

  {% block content %}
  <div id="content">

  <div id="carousel-example-generic" class="carousel slide" style="width:550px; height:300px;float:left; margin-left:20px; margin-top:20px">
  <!-- Indicators -->
  <!--
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  ->>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <a href="explore/stacked/export/usa/all/show/1996.2011.1/">
        <img src="media/img/home/us_exports.png" alt="..." style="width:540px; height:300px">
        <div class="carousel-caption">
          <h3 style="font-size:22px; color:gray;">What did the United States export between 1996 and 2011?</h3>
          <p></p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="explore/tree_map/import/usa/all/show/2011/">
        <img src="media/img/home/us_imports.png" alt="..." style="width:550px; height:300px">
        <div class="carousel-caption">
          <h3 style="font-size:22px; color:gray;">What did the United States import in 2011?</h3>
          <p></p>
        </div>
      </a>
    </div>
    <div class="item">
      <a href="explore/map/export/show/all/0101/2011/">
        <img src="media/img/home/horses_export.png" alt="..." style="width:550px; height:300px">
        <div class="carousel-caption">
          <h3 style="font-size:22px; color:gray;">Who exported Horses in 2011?</h3>
          <p></p>
        </div>
      </a>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>
</div>

    <div style="float:left; width:350px; margin-bottom:30px; font-size: 30px; font-style:italic; background: url(media/img/home/quote.jpg) no-repeat; background-size:100px; padding-left:40px; padding-top:40px; color:gray">
      Explore Growth Opportunities
    </div>

<!--
    <div style="float:right; margin-left:20px; margin-top:20px; border: solid 2px white; width:500px; padding:20px">
      <a href="/explore/product_space/export/{{default_country.name_3char|lower}}/all/show/2011/" style="text-decoration:none;">
        <div id="slides">    
          <img src="" alt="Product Space">
          <img src="" alt="Product Space">
          <img src="" alt="Product Space">
          <img src="/media/img/home/teaser_product_space.png" alt="Product Space">
          <img src="/media/img/home/teaser_products.png" alt="Product Space">
          <img src="/media/img/home/teaser_stacked.png" alt="Product Space">
        </div>
      </a>
    </div>
-->


  <a href="http://www.youtube.com/watch?v=0JC24CBVsdo">

    <div class="other_apps_first other_apps" style="float:left;width:370px; height:180px; padding:5px; margin-left:20px;border:1px solid lightgray; background-color:#fafafa;">
     
      <div style="width:210px; height:160px; text-align:justify;">
        <h3 style="text-transform: none; font-size:30px">What is  <span style="text-transform: uppercase;">THE ATLAS?</span></h3> 
        <p style="text-transform: none; font-size:16px">This interactive tool can generate more than 20 million visualizations and map the path of diversification and prosperity for 128 countries. Learn more about the theory of Economic Complexity.</p>
      </div>
      <div style="background:url('media/img/home/teaser_video_obs.png') no-repeat; background-size:130px 130px; width:130px; height:160px; margin-top:10px"></div>   
      
    </div>
  
  </a>

  <p style="clear:both"></p>

    <div class="other_apps" style="float:left; width:455px; margin:20px; border: solid 1px lightgray;">
  
  <a href="explore/tree_map/export/{{default_country.name_3char|lower}}/all/show/2010/">    <h3 style="float:left; margin-left:50px;font-size:30px; text-transform: none;">Browse Countries »</h3>

      <!--<div class="earth_teaser" style="margin-top:0px"></div>-->
      <div id="map" style="width:450px; height:250px"></div>
      
   
  </a>
   <div style="text-align:right; float:right; color:lightgray;" >Map transition by <a href="http://www.jasondavies.com/maps/transition/" style="text-decoration:none;color:lightgray; padding:0px; padding-top:10px" class="credits">Jason Davies</a></div>
   </div> 
 
<style>


.products-tmb, a.products-tmb {
  float:left;
  width: 50px;
  height: 50px;
  margin: 5px;
  width: 30px; 
  height:30px; 
}

.products-tmb:hover {
  border: solid 2px #ccc;

}

</style>

    <div class="other_apps" style="float:left; width:455px; margin:20px; border: solid 1px lightgray;">
      <a href="explore/tree_map/export/show/all/8703/2010/"><h3 style="float:left; margin-left:50px;font-size:30px; text-transform: none;">Browse Products »</h3></a><p style="clear:both">
      <div style="padding-left:20px; padding-bottom:30px">
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_0.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_10.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8509/2010/" class="products-tmb" style="background: url('media/img/icons/community_11.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8802/2010/" class="products-tmb" style="background: url('media/img/icons/community_12.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_13.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_14.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_15.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_20.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_21.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_22.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_30.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_31.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_40.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_41.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/4704/2010/" class="products-tmb" style="background: url('media/img/icons/community_42.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_43.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_44.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_50.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_51.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/2709/2010/" class="products-tmb" style="background: url('media/img/icons/community_52.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_54.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_60.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/8703/2010/" class="products-tmb" style="background: url('media/img/icons/community_61.png') no-repeat; background-size:50px;"></a>
        <a href="explore/tree_map/export/show/all/1001/2010/" class="products-tmb" style="background: url('media/img/icons/community_70.png') no-repeat; background-size:50px;"></a>
        
      </div>
    </div> 


{% endblock %}


{% block js %}
<script>
  // Use to be: Rotate featured video randomly
  // -> Will be re-used for showing stories randomly
  // var vid = Math.round(Math.random());
  var vid = 0;
   $(".didyouknow").eq(vid).show();
  // Set explore URL to be the default country aka where the 
  // user's IP address says they are
  $("nav a").eq(0).attr("href", "explore/tree_map/export/{{default_country.name_3char|lower}}/all/show/2011/")
</script>


    <script>
      $(function(){

        $("#carousel-example-generic").carousel({ interval: 2000 });
      })
    </script>



<script src="media/js/libs/d3/d3.v3.min.js"></script>
<script src="media/js/libs/d3/d3.geo.projection.min.js"></script>
<script src="media/js/libs/d3/topojson.min.js"></script>

<script src="media/js/libs/bootstrap/js/bootstrap.js"></script>



<script>
$(function() {

  $('#myModal').modal({
    show: true,
    keyboard: false
    });

});
</script>

<script>

var ratio = window.devicePixelRatio || 1,
    width = 450 * ratio,
    height = 250 * ratio;

var options = [
  {name: "Van der Grinten IV", projection: d3.geo.vanDerGrinten4().scale(120)}
];

var initial = [-71, 42, 0],
    rotate = initial.slice(),
    pause = 0,
    velocity = [.010, -.002],
    t0 = Date.now();

var 
    i = 0,
    n = options.length - 1;

var projection = d3.geo.vanDerGrinten4().scale(127); //options[i].projection;

var graticule = d3.geo.graticule()(),
    land,
    boundaries;

var canvas = d3.select("#map").append("canvas")
    .attr("width", width)
    .attr("height", height)
    .style("width", width / ratio + "px")
    .style("height", height / ratio + "px")
    .call(d3.behavior.drag()
      .origin(function() { return {x: rotate[0], y: -rotate[1]}; })
      .on("dragstart", function() { pause |= 1; })
      .on("drag", function(d) {
        rotate[0] = d3.event.x;
        rotate[1] = -d3.event.y;
        projection.rotate(rotate);
        redraw(path);
      })
      .on("dragend", function() {
        pause &= ~1;
        t0 = Date.now();
        initial = rotate.slice();
      }));

var context = canvas.node().getContext("2d");
context.fillStyle = "#f9f9f9";
context.strokeStyle = "#000";

var path = d3.geo.path()
    .projection(projection)
    .context(context);

var menu = d3.select("#projection-menu")
    .on("change", change);

menu.selectAll("option")
    .data(options)
  .enter().append("option")
    .text(function(d) { return d.name; });


function change() {
  clearInterval(interval);
  update(options[this.selectedIndex]);
}

function pathTween(projection0, projection1, rotate) {
  projection0.rotate([0, 0, 0]);
  projection1.rotate([0, 0, 0]);
  var t = 0,
      projection = d3.geo.projection(function(λ, φ) {
          λ *= 180 / Math.PI, φ *= 180 / Math.PI;
          var p0 = projection0([λ, φ]), p1 = projection1([λ, φ]);
          return [(1 - t) * p0[0] + t * p1[0], (1 - t) * -p0[1] + t * -p1[1]];
        })
        .rotate(rotate)
        .scale(1)
        .translate([width / 2, height / 2])
        .clipExtent(projection0.clipExtent()),
      path = d3.geo.path().projection(projection).context(context);
  return function() {
    return function(u) {
      t = u;
      redraw(path);
    };
  };
}

function update(option) {
  pause |= 2;
  canvas.transition()
      .duration(750)
      .tween("path", pathTween(projection, projection = option.projection, initial = rotate.slice()))
      .each("end", function() {
        pause &= ~2;
        t0 = Date.now();
      });
  path.projection(projection);
}

d3.timer(function() {
  if (pause) return;
  var t = Date.now() - t0;
  rotate[0] = initial[0] + velocity[0] * t;
  rotate[1] = initial[1] + velocity[1] * t;
  projection.rotate(rotate);
  redraw(path);
});

function redraw(path) {
  context.clearRect(0, 0, width, height);
  context.lineWidth = .5 * ratio;
  if (land) {
    context.strokeStyle = "#000";
    context.beginPath(), path(land), context.fill(), context.stroke();
    context.beginPath(), path(boundaries), context.stroke();
  }
  context.strokeStyle = "#999";
  context.beginPath(), path(graticule), context.stroke();
  context.lineWidth = 2.5 * ratio, context.strokeStyle = "#000";
  context.beginPath(), path({type: "Sphere"}), context.stroke();
}

d3.json("media/js/libs/d3/world-110m.json", function(error, world) {
  land = topojson.feature(world, world.objects.land);
  boundaries = topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; });
});

</script>

{% endblock %}