@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body{
	background-color: #fff;
}
.inline{
	display: inline;
}
#header{
 	background-color: #000;
	width: 100%;
	height: 60px;
}
#headerInner{
	width:1280px;
	margin: 0 auto;
}
#wrapper{
	padding-top: 30px;
	width: 1280px;
	height: 100%;
	margin:0 auto;
}
#indirect{
	padding-top: 61px;
	padding-right:20px; 
	position: relative;
	width:20%;
	float: left;
}
#query{ 
	border-bottom: solid 1px #ddd;
}
#story{
	padding-top: 20px;
}
#app{
	width:75%;
	height: 100%;
	float:left;
}

#logo h2{
	position: relative;
	padding-left: 20px;
	margin-bottom: -35px;
	color:#fff;
}
#logo img{
	position: relative;
	top:-5px;
	height: 40px;
	width: auto;
}
#navInner{
padding-top: 20px;
}
#navInner li{
	display: inline;
	margin-right: 20px
}
#navInner li:last-child{
	margin-right: 0;
}
#navInner a{
	font-size: 1.2em;
}
#story{
	position: relative;
	height: 400px;
	width: 100%;
}
#chapters{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}
#chapWindow{
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;	
	height: 90px;
	position: relative;
	float:left;
	width: 80%;
}
.chapNav{
	float: left;
	position: relative;
	height: 90px;
	width: 10%;
	background-color: #333;
}

.title h2{
	margin-top: 0;

}
#vis{
	width:100%;
	height:520px;
	background-color: #000;
}
#direct{
	border-bottom: solid 2px #ddd;
	position: relative;
	z-index: 2;
	width: 717px;
	margin: 0 auto;
	height:135px;
	overflow: hidden;
}
#filters{
list-style: none;
padding-top: 20px;
padding-bottom: 0px;
}
#filters li{
	margin-left: 10px;
	display: inline;
	padding-bottom: 0;
}
#filters li:first-child{
	margin-left: 0px;
}
#filters li img{
	width: 21px;
	height: auto;
}
.activeBtn{
	background-color: #00526e;
}
#moreOptions{
	margin-bottom: 40px;
}
#expand{
	top: 10px;
	margin-bottom: 10px;
	position: relative;
}
#directInner{
	height:290px;
}
footer p{
	font-size: 12px;
}
@media only screen and (max-width: 1280px){
	#wrapper{
		width:1024px; 
	}
	#headerInner{
		width:1024px;
	}
	#indirect{
		width: 25%;
	}
}
@media only screen and (max-width:1024px){
	#wrapper{
		width:800px;
		padding-top: 0;
	}
	#header{
		height: 60px;
		width: 100%;
	}
	#logo{
		margin-left: 10px;
	}

	#indirect{
		width: 100%;
		padding-top: 30px;
		float: none;
	}
	#app{
		width: 100%;
		float:none;
	}
}
