@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body{
	background-color: #fff;
}
.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.inline{
	display: inline;
}
#header{
 	background-color: #000;
	width: 100%;
	height: 40px;
	border-bottom: none;
	position: relative;
	z-index: 50;
}
#headerInner{
	width:1280px;
	margin: 0 auto;
}
#wrapper{
	width: 100%;
	height: 100%;
	margin:0 auto;
}
#indirect{
	padding-left: 20px;
	padding-top: 20px;	
	position: relative;
	width:20%;
	float: left;
}
#query{ 
	border-bottom: solid 1px #ddd;
}
#story{
	padding-top: 20px;
}

#share{
	float: left;
	width: 20%;
	height: 200px;
	position: relative;
	top:60px;

}
#shareInner ul{
	list-style: none;
	text-align: center;
}
#shareInner ul li a{
	color:#555;
}
#shareInner ul li a:hover{
	color: red;
}
#logo img{
	position: relative;
	height: 40px;
	width: auto;
}
#navInner{
	padding-top: 5px;
}
#navInner li{
	display: inline;
	margin-right: 20px
}
#navInner li:last-child{
	margin-right: 0;
}
#navInner a{
	color: #fff;
	font-size: 1em;
}
#story{
	position: relative;
	height: 400px;
	width: 100%;
}
#chapters{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}
#chapWindow{
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;	
	height: 90px;
	position: relative;
	float:left;
	width: 80%;
}
.chapNav{
	float: left;
	position: relative;
	height: 90px;
	width: 10%;
	background-color: #333;
}
.title h2{
	margin-top: 0;

}
#app{
	width:60%;
	height: 400px;
	float:left;
}
#vis{
	position: relative;
	top:-16px;
	width:100%;
	height:520px;
	background-color: #000;
}
#direct{
	border-bottom: solid 2px #ddd;
	position: relative;
	z-index: 2;
	width: 771px;
	margin: 0 auto;
	height:135px;
	overflow: hidden;
}
#filters{
list-style: none;
padding-top: 20px;
padding-bottom: 0px;
}
#filters li{
	margin-left: 10px;
	display: inline;
	padding-bottom: 0;
}
#filters li:first-child{
	margin-left: 0px;
}
#filters li img{
	width: 21px;
	height: auto;
}
.activeBtn{
	background-color: #00526e;
}
#moreOptions{
	margin-bottom: 40px;
}
#expand{
	top: 10px;
	margin-bottom: 10px;
	position: relative;
}
#directInner{
	height:290px;
}

footer p{
	font-size: 12px;
}
@media only screen and (max-width: 1280px){

	#wrapper{
		width:1280px; 
	}

}
@media only screen and (max-width:1024px){
	#wrapper{
		width:1024px;
		padding-top: 0;
	}

}
