@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

#logo{
	float: left;
}
.inline{
	display: inline;
}
#header{
	padding-top: 20px;
	position: absolute;
	width: 100%;
	height: 65px;
}
#headerInner{
	width: 1280px;
	margin: 0 auto;
	height: 65px;
}
#navInner{
	float: right;
}
.navItem{
	margin-left: 20px;
}
#logo{
	margin-top:-20px;
}
#wrapper{

	padding-top: 65px;
	width: 1280px;
	height: 100%;
	margin:0 auto;
}
#indirect{
	padding-top: 58px;
	padding-right:20px; 
	position: relative;
	width:20%;
	float: left;
}
#query{ 
	border-bottom: solid 1px #ddd;
}
#story{
	padding-top: 20px;
}
#app{

	width:70%;
	height: 100%;
	float:left;
}
.navItem{
	display: inline;
}
#story{
	position: relative;
	height: 400px;
	width: 100%;

}
#chapters{
	float: left;
	width: 100%;
	padding-bottom: 20px;
}
#chapWindow{
	border-top: solid 1px #333;
	border-bottom: solid 1px #333;	
	height: 90px;
	position: relative;
	float:left;
	width: 80%;
}
.chapNav{
	float: left;
	position: relative;
	height: 90px;
	width: 10%;
	background-color: #333;
}

.title h2{
	margin-top: 0;
}
#vis{
	width:100%;
	height:520px;
	background-color: #000;
}
#direct{
	position: relative;
	z-index: 2;
	width: 717px;
	margin: 0 auto;
}
#filters{
	overflow:auto;
	padding: 10px;
	z-index: 10;
	position: relative;
	float: left;
	top:59px;
	width: 5%;
	height: 520px;
	border:solid 1px black;
	background-color: #555
}

#filterList{
	margin: 0;
	list-style: none;
	padding:5px;
	height:260px;

}
#filterList li{
	margin-top: 24px;
}
#filterList li:first-child{
	margin-top: 0px;

}
.activeBtn{
	background-color: #00526e;
}
#filterTip{
	height:50px;
	width: 200px;
	z-index: 100;
	position: absolute;
	text-align: center;
}
#filterTip p{
	font-family: helvetica, sans-serif;
}
@media only screen and (max-width: 1280px){
	#wrapper{
		width:1024px; 
	}
	#indirect{
		width: 25%;
	}
	#headerInner{
		width: 1024px;
	}
	#filterList{
	padding:0;
	}
	#filterList li{
		margin-top: 28px;
	}
}
@media only screen and (max-width:1024px){
	*{
		display: none;
	}
}
